
@model IDictionary<string,object>

    @{
        var userDetail =  Model["User"] as Eduegate.Services.Contracts.UserDTO;

        var bannerFullPath = string.Empty;
        var bannerLink = string.Empty;
        var socialImagePath = string.Empty;
        var logo = string.Empty;
        var imageRootUrl = string.Empty;
        var emailFooter = @"<p style='margin - top:0px; margin - bottom:0px; padding - top:10px; padding - bottom:10px; font - family:Arial; font - size:13px;'>
            If you have any questions about your order please contact us at <span style='font-size:16px; font-weight:bold;'>xxxx</span>, (Available from 09.00 AM to 10.00 PM).</p>
                    <br />
                    <p style='margin-top:0px; margin-bottom:0px; padding-top:0px; padding-bottom:10px; font-family:Arial; font-size:13px;'>Thank you for shopping at <b><a target='_blank' href='http://www.eduegateerp.com/' style='color:#FBA600; text-decoration:none;'>Itrade</a></b>.</p>
                    <br />";
        var companyUrl = "www.eduegateerp.com";
        var companyName = "Eduegate";
        var facebookId = "Eduegate";
        var instagramId = "Eduegate";
        var twitterId = "Eduegate";
    }
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body style="margin:0; padding:0; font-family:Arial; font-size:13px; color:#333333;">
        <table cellpadding="0" cellspacing="0" style="background:#ececec; font-size:13px; width:100%; font-family:Arial;">
            <tr>
                <td align="center" style="padding-left:10px; padding-right:10px; padding-top:10px; padding-bottom:10px;">
                    <table cellpadding="0" cellspacing="0" width="600" style="max-width:600px; width:100% !important; border:1px solid #e4e4e4; border-collapse: collapse; border-spacing:0">
                        <tr>
                            <td align="center" bgcolor="#ffffff" style="padding-top:10px; padding-left:10px; padding-right:10px; padding-bottom:10px; border:1px solid #cccccc">
                                <table cellpadding="0" cellspacing="0" width="580" style="max-width:580px; width:100% !important;">
                                    @if (!string.IsNullOrEmpty(bannerFullPath))
                                    {
                                        <tr>
                                            <td colspan="3" align="center" bgcolor="#f7f7f7" style="padding-top:0px; padding-left:0px; padding-right:0px; padding-bottom:0px; border:1px solid #e4e4e4;">
                                                <a href="@bannerLink" target="_blank"><img width="600" style="max-width:600px; width:100% !important;" src="@bannerFullPath" border="0" /></a>
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <td align="left" valign="top" style="border-left:1px solid #ffffff;border-bottom:1px solid #ffffff;border-right:1px solid #ffffff;padding:0 12px;">


                                            <br>
                                            <br>
                                            <p style="color:#fff;font:normal 15px/22px Arial,Helvetica,sans-serif;">Dear <strong>@userDetail.UserName</strong>,</p>
                                            <br>
                                            <p style="color:#fff;font:normal 15px/22px Arial,Helvetica,sans-serif;">Thank you for registering on @companyName.</p>

                                            <p style="color:#fff;font:normal 15px/22px Arial,Helvetica,sans-serif;">
                                                To confirm your registration, please click on the link below:
                                                <a style="color:#fff;font:normal 15px/22px Arial,Helvetica,sans-serif;" href=@string.Concat(companyUrl + "/account/ConfirmEmail/", @userDetail.LoginEmailID) + target="_blank">@string.Concat(companyUrl + "/accounts/activate/", userDetail.LoginUserID)</a>
                                            </p>
                                            <p style="color:#fff;font:normal 15px/22px Arial,Helvetica,sans-serif;">(If clicking on the link does not work, try copying and pasting it into your web browser.)</p>
                                            <br>
                                            <p style="color:#fff;font:normal 15px/22px Arial,Helvetica,sans-serif;">
                                                Best regards,
                                                <strong style="display:block;">The @companyName Team</strong>
                                            </p>
                                            <br>
                                            <br>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="top" height="34" width="202">
                                            <table cellpadding="0" cellspacing="0" style="width:100%;">
                                                <tr>
                                                    <td height="17" bgcolor="#f7f7f7" style="border-bottom:1px solid #0092d9;"></td>
                                                </tr>
                                                <tr>
                                                    <td height="16" style="border-top:1px solid #0092d9;"></td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td align="center" width="176" style="max-width:176px; width:176px;" valign="top">
                                            <table cellpadding="0" cellspacing="0" style="width:100%;">
                                                <tr rowspan="2">
                                                    <td height="34" width="44">
                                                        <a href="https://www.facebook.com/@facebookId/">
                                                            <img src="@socialImagePath/facebook.png" alt="facebook" width="44" height="34" border="0" />
                                                        </a>
                                                    </td>
                                                    <td height="34" width="44">
                                                        <a href="https://twitter.com/@twitterId/">
                                                            <img src="@socialImagePath/twitter.png" alt="twitter" width="44" height="34" border="0" />
                                                        </a>
                                                    </td>
                                                    <td height="34" width="44">
                                                        <a href="https://www.instagram.com/@instagramId/">
                                                            <img src="@socialImagePath/instagram.png" alt="instagram" width="44" height="34" border="0" />
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td align="center" valign="top" height="34" width="202">
                                            <table cellpadding="0" cellspacing="0" style="width:100%;">
                                                <tr>
                                                    <td height="17" bgcolor="#f7f7f7" style="border-bottom:1px solid #0092d9;"></td>
                                                </tr>
                                                <tr>
                                                    <td height="16" style="border-top:1px solid #0092d9;"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    @if (!string.IsNullOrEmpty(logo))
                                    {
                                        <tr>
                                            <td colspan="3" align="center" bgcolor="#f7f7f7" style="padding-top:10px; padding-left:10px; padding-right:10px; padding-bottom:10px; border:1px solid #e4e4e4;">
                                                <a href="http://@companyUrl/" target="_blank"><img src="@logo" border="0" style="max-width:100%;" /></a>
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <td colspan="3" style="padding-top:20px; padding-right:10px; padding-bottom:10px; padding-left:10px; font-size:12px; color:#999999; font-family:Arial" align="center">
                                            <a target="_blank" href="http://@companyUrl/" style="color:#FBA600; text-decoration:none; font-family:Arial;">
                                                @companyName
                                            </a>,
                                            <p style="font-family:Arial;">&copy; @DateTime.Now.Year, @companyName All Rights Reserved.</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
