<!DOCTYPE html>
<html ng-app="Eduegate.ERP.School.Portal">
<head>
    @{
        var clientName = new Eduegate.Domain.FrameworkSettingBL(null).GetSettingValue<string>("CLIENTINSTANCE");
    }
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>EduGate Parent Portal</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<script src="~/Design_v02/plugins/jquery/jquery.min.js"></script>*@
    @*<link rel="manifest" href="site.webmanifest">*@
    <link rel="apple-touch-icon" href="~/favicon.ico">
    <!-- Place favicon.ico in the root directory -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")

    @Scripts.Render("~/bundles/appmodels")
    @Scripts.Render("~/bundles/plugins")
    @Scripts.Render("~/bundles/others")
    @Scripts.Render("~/bundles/jslinq")
    @Scripts.Render("~/bundles/highchart")
    <script src="~/Scripts/ng-map.min.js" type="text/javascript"></script>

    <link href="@Url.Content("~/Content/animate.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="@Url.Content("~/Scripts/wow.min.js")"></script>
    <script>
        new WOW().init();
    </script>

    <script src="@Url.Content("~/Scripts/Chart.js")"></script>
    <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")"></script>
    @*<script src="@Url.Content("~/signalr/hubs")"></script>*@
    <link rel="stylesheet" href="~/Design_v02/plugins.bundle.css">

    <link href="~/Design_v02/style.bundle.css" rel="stylesheet" type="text/css" />

    <link href="~/Design_v02/css/custom.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
    <!-- icons -->
    <link href="~/Design_v02/fonts/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Design_v02/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Design_v02/fonts/material-design-icons/material-icon.css" rel="stylesheet" type="text/css" />
    <!--bootstrap -->
    <link href="~/Design_v02/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Material Design Lite CSS -->

    <link rel="stylesheet" href="~/Design_v02/plugins/material/material.min.css">
    <link rel="stylesheet" href="~/Content/style.css">

    <!-- Theme Styles -->
    @*<link href="~/Design_v02/css/theme/light/theme_style.css" rel="stylesheet" id="rt_style_components" type="text/css" />*@
    <link href="~/Design_v02/css/theme/light/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Design_v02/css/pages/formlayout.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Design_v02/css/plugins.min.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Design_v02/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/Design_v02/css/theme/light/theme-color.css" rel="stylesheet" type="text/css" />
    <!-- Date Time item CSS -->
    <link rel="stylesheet" href="~/Design_v02/plugins/flatpicker/css/flatpickr.min.css" />
    <!-- steps -->
    <link rel="stylesheet" href="~/Design_v02/plugins/steps/steps.css">
    <link href="~/Design_v02/css/theme/light/style.css" rel="stylesheet" type="text/css" />

    <link href="~/Design_v02/css/theme/light/theme_style.css" rel="stylesheet" id="rt_style_components" type="text/css" />
    <link href="~/Design_v02/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Design_v02/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/Design_v02/css/theme/light/theme-color.css" rel="stylesheet" type="text/css" />
    <!-- Owl Carousel Assets -->
    <link href="~/Design_v02/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="~/Design_v02/plugins/owl-carousel/owl.theme.css" rel="stylesheet">
    <!-- dropzone -->
    <link href="~/Design_v02/plugins/dropzone/dropzone.css" rel="stylesheet" media="screen">
    <!-- Date Time item CSS -->
    <link rel="stylesheet" href="~/Design_v02/plugins/flatpicker/css/flatpickr.min.css" />
    <!--select2-->
    <link href="~/Design_v02/plugins/select2/css/select2.css" rel="stylesheet" type="text/css" />
    <link href="~/Design_v02/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!--tagsinput-->
    <link href="~/Design_v02/plugins/jquery-tags-input/jquery-tags-input.css" rel="stylesheet">
    <link href="~/Design_v02/plugins/angular-bootstrap-lightbox.min.css" rel="stylesheet">
    <link href="~/Content/nouislider.min.css" rel="stylesheet">
    <link href="~/Content/fancybox.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/fullcalendar.bundle.css">
    @*<link rel="stylesheet" href="~/Content/aos.css">*@
    <link href="~/clients/@clientName/css/clientstyle.css" rel="stylesheet">
    <link href="~/Content/jquery.dataTables.css" rel="stylesheet">



    <script src="~/Design_v02/scripts.bundle.js"></script>

    <!-- start js include path -->
    <script src="~/Design_v02/plugins/jquery/jquery.min.js"></script>
    @*<script src="~/Design_v02/plugins/jquery/jquery.js"></script>*@

    <script src="~/Design_v02/plugins/popper/popper.js"></script>
    <script src="~/Design_v02/plugins/jquery-blockui/jquery.blockui.min.js"></script>
    <script src="~/Design_v02/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- bootstrap -->
    <script src="~/Design_v02/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Design_v02/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <!-- Common js-->
    <script src="~/Design_v02/js/app.js"></script>
    <script src="~/Design_v02/js/layout.js"></script>
    <script src="~/Design_v02/js/theme-color.js"></script>
    <!-- Material -->
    <script src="~/Design_v02/plugins/material/material.min.js"></script>
    <script src="~/Design_v02/js/pages/material-select/getmdl-select.js"></script>
    <script src="~/Design_v02/plugins/flatpicker/js/flatpicker.min.js"></script>
    <script src="~/Design_v02/js/pages/date-time/date-time.init.js"></script>
    <script src="~/Design_v02/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js" charset="UTF-8"></script>
    <script src="~/Design_v02/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker-init.js" charset="UTF-8"></script>
    <script src="~/Design_v02/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script src="~/Design_v02/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker-init.js" charset="UTF-8"></script>
    <script src="~/Design_v02/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>
    <!-- dropzone -->
    <script src="~/Design_v02/plugins/dropzone/dropzone.js"></script>
    <script src="~/Design_v02/plugins/dropzone/dropzone-call.js"></script>
    <!-- Theme Styles -->
    <!-- owl carousel -->
    <script src="~/Design_v02/plugins/owl-carousel/owl.carousel.js"></script>
    <script src="~/Design_v02/js/pages/owl-carousel/owl_data.js"></script>

    <script src="~/Design_v02/plugins/material/material.min.js"></script>
    <script src="~/Design_v02/plugins/sparkline/jquery.sparkline.js"></script>
    <script src="~/Design_v02/js/pages/sparkline/sparkline-data.js"></script>
    <!-- summernote -->
    <script src="~/Design_v02/plugins/summernote/summernote.js"></script>
    <script src="~/Design_v02/js/pages/summernote/summernote-data.js"></script>
    <!-- favicon -->
    <link rel="shortcut icon" href="~/favicon.ico" />

    <!-- data tables -->
    <script src="~/Design_v02/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Design_v02/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js"></script>
    <script src="~/Design_v02/js/pages/table/table_data.js"></script>
    <!-- end js include path -->
    <!-- start js include path -->
    <script src="~/Design_v02/plugins/jquery-validation/js/jquery.validate.min.js"></script>
    <script src="~/Design_v02/plugins/jquery-validation/js/additional-methods.min.js"></script>
    <!-- Common js-->
    <script src="~/Design_v02/js/pages/validation/form-validation.js"></script>


    <!-- chart js -->

    <script src="~/Design_v02/plugins/apexcharts/apexcharts.min.js"></script>
    <script src="~/Design_v02/js/pages/chart/apex/home-data3.js"></script>
    <script src="~/Design_v02/plugins/sparkline/jquery.sparkline.js"></script>
    <script src="~/Design_v02/js/pages/sparkline/sparkline-data.js"></script>
    <script src="~/Design_v02/plugins/chart-js/Chart.min.js"></script>
    <script src="~/Design_v02/plugins/chart-js/utils.js"></script>
    <script src="~/Design_v02/js/pages/chart/chartjs/home-data2.js"></script>

    <!--amchart chart-->
    <script src="~/Design_v02/plugins/amcharts4/core.js"></script>
    <script src="~/Design_v02/plugins/amcharts4/charts.js"></script>
    <script src="~/Design_v02/plugins/amcharts4/animated.js"></script>
    <script src="~/Design_v02/plugins/amcharts4/worldLow.js"></script>
    <script src="~/Design_v02/plugins/amcharts4/maps.js"></script>
    <!-- Page Specific JS File -->
    @*<script src="~/Design_v02/js/pages/chart/amchart/amchart-data.js"></script>*@

    <!-- steps -->
    <script src="~/Design_v02/plugins/steps/jquery.steps.js"></script>
    <script src="~/Design_v02/js/pages/steps/steps-data.js"></script>

    <script src="~/Scripts/moment.min.js"></script>

    <!--select2-->
    <script src="~/Design_v02/plugins/select2/js/select2.js"></script>
    <script src="~/Design_v02/js/pages/select2/select2-init.js"></script>
    <!--tags input-->
    <script src="~/Design_v02/plugins/jquery-tags-input/jquery-tags-input.js"></script>
    <script src="~/Design_v02/plugins/jquery-tags-input/jquery-tags-input-init.js"></script>
    <script src="~/Scripts/jquery-tjgallery.min.js" type="text/javascript"></script>
    <script src="~/Scripts/slick.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/nouislider.min.js"></script>



    @*<script src="Design_v02/plugins/nice-select/jquery.nice-select.min.js"></script>*@
    @*<script src="~/Design_v02/plugins/nice-select/fastclick.js"></script>*@
    @*<script src="~/Design_v02/plugins/nice-select/prism.js"></script>*@
    @*<script src="~/Design_v02/fslightbox.bundle.js"></script>*@
    @*<script src="~/Design_v02/plugins.bundle.js"></script>*@
    <script src="~/Design_v02/fslightbox.js"></script>
    <script src="~/Scripts/fancybox.umd.js"></script>
    @*<script src="~/Design_v02/index.global.min.js"></script>*@
    <script src="~/Design_v02/fullcalendar.bundle.js"></script>
    @*<script src="~/Scripts/aos.js"></script>*@
    <script src="~/Scripts/jquery.dataTables.js"></script>


    @*<script  data-main="~/Scripts/main.js" src="~/Design_v02/require.js"></script>    *@


    <!-- MDB -->
    <!-- end js include path -->
    <style>
        #owl-demo .item img {
            display: block;
            width: 100%;
            height: auto;
        }

        #owl-demo2 .item {
            margin: 3px;
        }

        .page-bar {
            margin: 0px !important;
        }
    </style>
</head>
<body class="">
    <script>
        AOS.init();
    </script>

    <style>
    </style>
    @{
        var request = HttpContext.Current.Request.ApplicationPath;
    }
    <div class="wrapper flex-wrapper" ng-controller="LayoutController">

        <div ng-controller="LayoutHeaderController">
            <!--Compose Mail-->
            <div id="kt_drawer_example_basic"
                 class="bg-white"
                 data-kt-drawer="true"
                 data-kt-drawer-direction="end"
                 data-kt-drawer-activate="true"
                 data-kt-drawer-toggle="#kt_drawer_example_basic_button"
                 data-kt-drawer-close="#kt_drawer_example_basic_close"
                 data-kt-drawer-width="{default:'300px', 'md': '500px'}">
                <div class="card d-flex rounded-0" id="mailComposeContainer">
                    <div class="card-header pe-5">
                        <div class="card-title">
                            <div class="d-flex justify-content-center flex-column me-3">
                                <a href="#" class="fs-4 fw-bolder text-gray-900 text-hover-primary me-1 lh-1">New Message</a>

                            </div>
                        </div>
                        <div class="card-toolbar">
                            <div class="btn btn-sm btn-icon btn-active-light-primary" id="kt_drawer_example_basic_close">
                            </div>
                        </div>
                    </div>
                    <div class="card-body align-items-end d-flex flex-grow-1 hover-scroll-overlay-y text-gray-700">

                        <form method="post" ng-submit="ComposeMail()" id="form_sample_1" name="contact-form" novalidate class="form-horizontal ">
                            <div class="">
                                <div class="p-3">
                                    <div class="mdl-textfield w-100 mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                        <label>From</label>

                                        <div>
                                            <label type="email" ng-model="Email.frommail" ng-bind="FromEmail"></label>
                                            <input type="hidden" ng-model="Email.frommail" ng-bind="FromEmail" id="frommail" name="frommail" />
                                        </div>
                                        <span class="mdl-textfield__error">Enter Valid Email Address!</span>
                                    </div>
                                    <div class="mdl-textfield w-100 mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                        <label>To</label>
                                        <!--begin::Input group-->
                                        <div class="">
                                            <select class="form-select" ng-model="Email.tomail" id="tomail" name="tomail" aria-label="Floating label select example">
                                                <option ng-repeat="mail in ToEmailList" value="{{mail.EmployeeLoginID}}">{{mail.EmployeeName}}@*{{mail.LoginEmailID}}*@</option>
                                            </select>

                                        </div>
                                        <!--end::Input group-->

                                    </div>
                                    <div class="mdl-textfield w-100 mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                        <label>Subject</label>
                                        <div class="form-floating mb-7">
                                            <textarea class="form-control" style="height: 70px"
                                                      id="subjectmail" required ng-model="Email.subjectmail" ng-bind="Email.subjectmail"></textarea>

                                        </div>
                                        <!--end::Input group-->
                                        <!--begin::Input group-->

                                    </div>
                                    <div class="mdl-textfield w-100 mdl-js-textfield txt-full-width">
                                        <label>Comments</label>
                                        <div class="form-floating">
                                            <textarea class="form-control" placeholder=""
                                                      id="bodymail" required ng-model="Email.bodymail" ng-bind="Email.bodymail"
                                                      style="height: 150px"></textarea>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <button type="submit"
                                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn-danger" style="float:right;">
                                Send
                            </button>
                        </form>
                    </div>
                    <!--end::Card body-->
                </div>

                <div id="mailComposeContainer">
                </div>
            </div>

            <div class="modal bg-dark bg-opacity-75" id="ConformationModal" tabindex="-1" aria-modal="true" role="dialog">
                <!--begin::Modal dialog-->
                <script>
                    $('#ConformationModal').on('show.bs.modal', function (e) {
                        $('.modal .modal-dialog').attr('class', 'modal-dialog modal-dialog-centered ' + 'animate__zoomIn' + '   animate__animated');
                    })
                    $('#ConformationModal').on('hide.bs.modal', function (e) {
                        $('.modal .modal-dialog').attr('class', 'modal-dialog modal-dialog-centered ' + 'animate__zoomOut' + '   animate__animated');
                    })
                </script>
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content rounded-4">
                        <div class="modal-header flex-stack border-0 px-10 pt-5 pb-0">
                            <div class="position-relative z-index-1">
                                <button type="button" class="btn btn-flex px-0 rotate-">
                                    <!--begin::Title-->
                                    <span class="fs-6 fw-bold text-gray-600 me-2">Verify it's you</span>

                                </button>
                            </div>
                            <div class="btn btn-sm btn-icon btn-active-color-primary me-n2 position-relative z-index-1" data-bs-dismiss="modal">
                                <!--begin::Svg Icon | path: icons/duotune/general/gen034.svg-->
                                <span class="svg-icon svg-icon-1">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor"></rect>
                                        <rect x="7" y="15.3137" width="12" height="2" rx="1" transform="rotate(-45 7 15.3137)" fill="currentColor"></rect>
                                        <rect x="8.41422" y="7" width="12" height="2" rx="1" transform="rotate(45 8.41422 7)" fill="currentColor"></rect>
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div class="modal-body pt-0 pb-5 px-10">
                            <div class="card-body pt-15 pt-lg-20">
                                <!--begin::Logo-->
                                <div class="mb-14">
                                    <a class="">
                                        <img alt="Logo" src="../img/PODARLOGO-01.png" class="h-40px">
                                    </a>
                                </div>
                                <!--end::Logo-->
                                <!--begin::Title-->
                                <h1 class="fw-bolder text-gray-900 mb-5">Verify your email</h1>
                                <!--end::Title-->
                                <!--begin::Action-->
                                <div class="fs-6 fw-semibold text-gray-500 mb-10">
                                    You are signed in as
                                    <a href="#" class="link-primary fw-semibold">
                                        <span type="email" ng-model="Email.frommail" ng-bind="FromEmail"></span>
                                    </a>
                                    <br>verify its you
                                </div>
                                <!--end::Action-->
                                <!--begin::Link-->
                                <form form method="post" ng-submit="NewApplicationClick()" id="form_sample_1" novalidate class="d-flex justify-content-end pt-10">
                                    <a href="#" class="btn btn-sm btn-active-light-danger mr-2" ng-click="Signout()">Log Out</a>
                                    <button class="btn btn-sm btn-primary" type="submit">Continue</button>
                                </form>
                                <!--end::Link-->
                                <!--begin::Illustration-->
                                <div class="mb-0">
                                    <img src="" class="mw-100 mh-300px theme-light-show" alt="">
                                </div>
                                <!--end::Illustration-->
                            </div>
                            @*<form method="post" ng-submit="NewApplicationClick()" id="form_sample_1" novalidate class="form-horizontal">
                                    <header style="color:white;">Verify It's You ?</header>
                                    <div class="row">
                                        <h2>Hi,   </h2>
                                        <h2><label type="email" ng-model="Email.frommail" ng-bind="FromEmail"></label></h2>
                                        <div class="col-lg-12 d-flex justify-content-end mt-5">
                                            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-danger" style="float:left;">
                                                Log Out
                                            </button>
                                            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn-danger" style="float: left; background-color: royalblue !important; border-color: royalblue !important;">
                                                Continue
                                            </button>
                                        </div>

                                    </div>
                                </form>*@
                        </div>
                    </div>
                </div>
            </div>
            <!--End Compose Mail-->
            <!-- start header -->
            <section class="top-nav-wrap">
                <div class="container-custom container-xxl">
                    <div class="top-nav">
                        <div class="row justify-content-between">
                            <div class="top-nav-left d-none d-lg-block w-auto">
                                <span>
                                    Welcome
                                    <span class="username username-hide-on-mobile" onclick="window.location.href='@request'">

                                        <span ng-bind="HeaderInfoModel.UserName != null ? HeaderInfoModel.UserName : HeaderInfoModel.Customer == null ? HeaderInfoModel.Supplier == null ? HeaderInfoModel.LoginEmailID : HeaderInfoModel.Supplier.FirstName :  HeaderInfoModel.Customer.FirstName"></span>
                                        <span ng-bind="HeaderInfoModel.Customer == null ? HeaderInfoModel.Supplier == null ? '' : HeaderInfoModel.Supplier.MiddleName : HeaderInfoModel.Customer.MiddleName"></span>
                                        <span ng-bind="HeaderInfoModel.Customer == null ? HeaderInfoModel.Supplier == null ? '' : HeaderInfoModel.Supplier.LastName : HeaderInfoModel.Customer.LastName"></span>

                                    </span>
                                </span>
                            </div>
                            <div class="top-nav-right w-auto">
                                <ul class="list-inline top-nav-right-list">
                                    <li>
                                        <a class="position-relative"
                                           data-bs-toggle="modal" data-bs-target="#message_modal_1">
                                            <img class="mr-2 filter-white" src="../images/chat-square-text.svg" />
                                            <span class="badge headerBadgeColor2" style="position: absolute; top: -5px; left: 10px" ng-bind="AlertCount"></span>
                                            Messages
                                        </a>

                                        <div class="modal" tabindex="-1" id="message_modal_1">
                                            <script>
                                                $('#message_modal_1').on('show.bs.modal', function (e) {
                                                    $('.modal .modal-dialog').attr('class', 'modal-dialog modal-dialog-scrollable modal-dialog-centered ' + 'animate__zoomIn' + '   animate__animated');
                                                })
                                                $('#message_modal_1').on('hide.bs.modal', function (e) {
                                                    $('.modal .modal-dialog').attr('class', 'modal-dialog modal-dialog-scrollable modal-dialog-centered ' + 'animate__zoomOut' + '   animate__animated');
                                                })
                                            </script>
                                            <div class="modal-dialog">
                                                <div class="modal-conatiner modal-content">
                                                    <div class="d-flex flex-column">
                                                        <div class="p-4 d-flex justify-content-center flex-column align-items-center">
                                                            <div class="custom-modal-icon ">
                                                                <img loading="lazy"
                                                                     src="~/Images/chat-left-text.svg" />
                                                            </div>
                                                            <div class="Custom-modal-header-text">Unread Messages</div>
                                                            <div class="custom-modal-descripation">

                                                            </div>
                                                        </div>
                                                        <div class="Custom-modal-body">
                                                            <span class="d-flex justify-content-center align-items-center text-dark w-100" ng-if="mailData.length==0">No unread messages</span>
                                                            <div class="card-body">
                                                                <div class="scroll-y me-n5 pe-5" style="max-height: 300px;">
                                                                    <div class="d-flex justify-content-start mb-10" ng-repeat="messages in mailData">
                                                                        <div class="d-flex flex-column align-items-start">
                                                                            <div class="d-flex align-items-center mb-2">
                                                                                <div class="symbol symbol-35px symbol-circle">
                                                                                    <img alt="Pic" src="../images/person-circle.svg" style="filter: invert(53%) sepia(16%) saturate(253%) hue-rotate(201deg) brightness(92%) contrast(86%);">
                                                                                </div>
                                                                                <div class="ms-3">
                                                                                    <a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary me-1">{{messages.FromLogin}}</a>
                                                                                    <span class="text-muted fs-7 mb-1">{{messages.NotificationDateString}}</span>
                                                                                </div>
                                                                                <span class="badge bg-danger rounded-pill float-end" ng-click="MarkAsReadSingle(messages.NotificationAlertIID)"></span>

                                                                            </div>
                                                                            <div class="p-5 rounded-3 bg-light-info text-dark fw-semibold mw-lg-400px text-start" ng-bind-html="messages.Message"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="custom-modal-footer">
                                                        <button class="btn btn-sm btn-active-light-primary me-1" ng-if="mailData.length!=0" ng-click="MarkAllAsRead()" id="markAllButton">Mark all read</button>
                                                        <button class="btn btn-sm btn-active-light-primary me-1" data-bs-dismiss="modal">close</button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    @*<li ng-model="HeaderInfoModel" ng-init="Init();" class="dropdown dropdown-user">

                                            <img class="mr-2 filter-white" src="../images/translate.svg" />
                                            <select class="nice-select custom-select-option arrow-black">
                                                <option value="" selected>
                                                    English
                                                </option>
                                                <option value="">
                                                    Arabic
                                                </option>
                                            </select>
                                        </li>*@

                                    @*<li>
                                            <a href="">
                                                <i class="las la-sitemap"></i>
                                                Supplier
                                            </a>
                                        </li>*@
                                    <li ng-model="HeaderInfoModel" ng-init="Init();" class="dropdown dropdown-user">
                                        <div>
                                            <button style="all: unset" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start" data-kt-menu-offset="-60px, 30px">
                                                <img class="mr-2 filter-white" src="../images/person-square.svg" />
                                                Login
                                            </button>
                                            <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-bold w-200px" data-kt-menu="true">
                                                <div class="menu-item px-3">
                                                    <div class="menu-content fs-6 text-dark fw-bolder px-3 py-4">
                                                        <span class="" onclick="window.location.href='@request'">

                                                            <span ng-bind="HeaderInfoModel.UserName != null ? HeaderInfoModel.UserName : HeaderInfoModel.Customer == null ? HeaderInfoModel.Supplier == null ? HeaderInfoModel.LoginEmailID : HeaderInfoModel.Supplier.FirstName :  HeaderInfoModel.Customer.FirstName"></span>
                                                            <span ng-bind="HeaderInfoModel.Customer == null ? HeaderInfoModel.Supplier == null ? '' : HeaderInfoModel.Supplier.MiddleName : HeaderInfoModel.Customer.MiddleName"></span>
                                                            <span ng-bind="HeaderInfoModel.Customer == null ? HeaderInfoModel.Supplier == null ? '' : HeaderInfoModel.Supplier.LastName : HeaderInfoModel.Customer.LastName"></span>

                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="separator mb-3 opacity-75"></div>
                                                <div class="menu-item px-3">
                                                    <a ng-click="changepassword()" class="menu-link px-3">
                                                        Change Password
                                                    </a>
                                                </div>
                                                <div class="menu-item px-3">
                                                    <a id="kt_drawer_example_basic_button" onclick="ComposeMailToggle()" class="menu-link px-3">
                                                        Help
                                                    </a>
                                                </div>
                                                <div class="separator mt-3 opacity-75"></div>
                                                <div class="menu-item px-3">
                                                    <div class="menu-content px-3 py-3">
                                                        <a class="btn btn-primary btn-sm px-4" ng-click="Signout()">
                                                            Log Out
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <header class="header-wrap bg-white app-header" data-kt-sticky="true" data-kt-sticky-activate-="true" data-kt-sticky-name="app-header-sticky" data-kt-sticky-offset="{default: '200px', lg: '300px'}" style="animation-duration: 0.3s; top: 0px;">
                <div class="header-wrap-inner  bg-white">
                    <div class="container-custom container-xxl">
                        <div class="row flex-nowrap justify-content-between position-relative w-auto" >
                            <div class="header-column-left flex-shrink-0 w-auto" data-aos="fade-right">
                                <div class="sidebar-menu-icon-wrap">
                                    <div class="sidebar-menu-icon">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                                <a class="header-logo ps-md-0">
                                    <img src="../img/PODARLOGO-01.png" alt="">
                                </a>
                            </div>
                            <div class="header-search-wrap w-auto">
                            </div>
                            <div class="header-column-right w-auto d-flex flex-center">
                              
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <aside class="sidebar-menu-wrap">
                <div class="sidebar-menu-header">
                    <h4>Navigation</h4>
                    <div class="sidebar-menu-close">
                        <i class="fa fa-times"></i>
                    </div>
                </div>
                @*<ul class="nav nav-tabs sidebar-menu-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#main-menu">
                                Menu
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab">
                                Links
                            </a>
                        </li>
                    </ul>*@
                <div class="tab-content custom-scrollbar">
                    <div id="main-menu" class="tab-pane active">
                        <ul class="list-inline sidebar-menu d-flex flex-column py-10">
                            <li>

                                <a ng-click="MyWardClick()" class="menu-item ripple">
                                    MyWards
                                </a>
                            </li>
                            <li>
                                <a data-bs-toggle="modal" data-bs-target="#ConformationModal" class="menu-item">
                                    New Application
                                </a>
                            </li>
                            <li>
                                <a ng-click="ApplicationListClick()" class="menu-item">
                                    Application Status
                                </a>
                            </li>
                            <li>
                                <a ng-click="TransportApplicationListClick()" class="menu-item">
                                    Transport Application
                                </a>
                            </li>
                            <li>
                                <a ng-click="StudentPickupRequestListClick()" class="menu-item">
                                    Pickup Request
                                </a>
                            </li>
                            <li>
                                <a href="mailbox" class="menu-item">
                                    Mail Box
                                </a>
                            </li>
                            <li>
                                <a ng-click="CircularListClick()" class="menu-item">
                                    Circular
                                </a>
                            </li>
                            <li>
                                <a ng-click="GalleryTabClick()" class="menu-item">
                                    Gallery
                                </a>
                            </li>
                            <li>
                                <a href="about" class="menu-item">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a class="menu-item">
                                    Contact
                                </a>
                            </li>
                            <li>
                                <a ng-click="FeePaymentTabClick()" class="menu-item">
                                    Fee Payment
                                </a>
                            </li>
                            <li>
                                <a ng-click="ReportCardClick()" class="menu-item">
                                    Report Card
                                </a>
                            </li>
                            <li>
                                <a ng-click="CoachingProgramClick()" class="menu-item">
                                    PACE
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
            <section class="navigation-wrap">
                <div class="container-custom container-xxl">
                    <div class="navigation-inner border-0">
                        <nav class="navbar navbar-expand-sm" ">
                            <ul class="nav navbar-nav mega-menu horizontal-megamenu">
                                <li class="nav-item ">

                                    <a ng-click="MyWardClick()" class="nav-link menu-item ps-md-0" data-text="Shop">
                                        <img class="mr-2 filter-white" src="../images/mortarboard.svg">
                                        My Wards
                                    </a>
                                </li>
                                <li class="nav-item">
                                    @*<a class="nav-link menu-item" target="_self" data-text="Brands">
                Applications
                <i class="fa fa-angle-down"></i>
                <span class="arrow "></span>
            </a>*@







                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="navigation-text">

                                            <img class="mr-2 filter-white" src="../images/person-square.svg" />
                                            Application

                                        </span>
                                    </a>
                                    <div class="dropdown-menu menu-sub menu-sub-dropdown w-175px py-4" aria-labelledby="navbarDropdown">

                                        <a class=" menu-item px-3" data-bs-toggle="modal" data-bs-target="#ConformationModal" href="#">
                                            <div class="  dropdown-item rounded-3 menu-link px-3 menu-gray-800 fw-semibold">
                                                New Application
                                            </div>
                                        </a>
                                        <a class="menu-item px-3" ng-click="ApplicationListClick()">
                                            <div class="dropdown-item rounded-3 menu-link px-3  menu-gray-800 fw-semibold">

                                                Application Status
                                            </div>
                                        </a>
                                        <a class=" menu-item px-3" ng-click="TransportApplicationListClick()">
                                            <div class="dropdown-item rounded-3 menu-link px-3  menu-gray-800 fw-semibold">
                                                Transport Application
                                            </div>
                                        </a>
                                        <a class=" menu-item px-3" ng-click="StudentPickupRequestListClick()">
                                            <div class="dropdown-item rounded-3 menu-link px-3  menu-gray-800 fw-semibold">
                                                Pickup Request
                                            </div>
                                        </a>
                                        <a class=" menu-item px-3" ng-click="CoachingProgramClick()">
                                            <div class="dropdown-item rounded-3 menu-link px-3  menu-gray-800 fw-semibold">
                                                PACE
                                            </div>
                                        </a>
                                        
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a href="mailbox" class="nav-link menu-item" target="_self" data-text="Brands">
                                        <img class="mr-2 filter-white" src="../images/envelope.svg">

                                        Mail Box
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a ng-click="CircularListClick()" class="nav-link menu-item" target="_self" data-text="Terms Of Use">
                                        <img class="mr-2 filter-white" src="../images/journal.svg">

                                        Circular
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a ng-click="GalleryTabClick()" class="nav-link menu-item" target="_self" data-text="FAQ">
                                        <img class="mr-2 filter-white" src="../images/card-image.svg">

                                        Gallery
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a ng-click="FeePaymentTabClick()" class="nav-link menu-item" data-text="Fee Payment">
                                        <img class="mr-2 filter-white" src="../images/credit-card-2-back-fill.svg">

                                        Fee Payment
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a ng-click="ReportCardClick()" class="nav-link menu-item" data-text="Report Card">
                                        <img class="mr-2 filter-white" src="../images/report-card.svg">

                                        Report Card
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <span class="navigation-text">
                            <div class="top-nav pr-md-0 ">
                                <div class="">

                                    <div class="top-nav-right w-auto">
                                        <ul class="list-inline top-nav-right-list ">
                                            <li>
                                                <a class="position-relative" id="kt_drawer_message_button"
                                                   data-close-others="true">


                                                    <img class="mr-2 filter-white" src="../images/chat-square-text.svg" />
                                                    <span class="badge headerBadgeColor2" style="position: absolute; top: -5px; left: 10px" ng-bind="AlertCount"></span>
                                                    Messages
                                                </a>
                                                <!--begin::Trigger button-->
                                                <!--end::Trigger button-->
                                                <!--begin::View component-->
                                                <div id="kt_drawer_message"
                                                     class="bg-white"
                                                     data-kt-drawer="true"
                                                     data-kt-drawer-activate="true"
                                                     data-kt-drawer-toggle="#kt_drawer_message_button"
                                                     data-kt-drawer-close="#kt_drawer_message_close"
                                                     data-kt-drawer-width="{default:'300px', 'md': '500px'}">
                                                    <div class="card w-100 rounded-0 border-0" id="kt_drawer_chat_messenger">
                                                        <div class="card-header pe-5" id="kt_drawer_chat_messenger_header">
                                                            <div class="card-title">
                                                                <div class="d-flex justify-content-center flex-column me-3">
                                                                    <a href="#" class="fs-4 fw-bold text-gray-900 text-hover-primary me-1 mb-2 lh-1">Messages</a>
                                                                    <div class="mb-0 lh-1">
                                                                        <span class="badge badge-success badge-circle w-10px h-10px me-1"></span>
                                                                        <span class="fs-7 fw-semibold text-muted">Active</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="card-toolbar">
                                                                <div class="btn btn-sm btn-icon btn-active-light-primary" id="kt_drawer_message_close">
                                                                    <span class="svg-icon svg-icon-2">
                                                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                                                                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                                                                        </svg>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card-body" id="kt_drawer_chat_messenger_body">
                                                            <!--begin::Messages-->
                                                            <div class="scroll-y me-n5 pe-5" data-kt-element="messages" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_drawer_chat_messenger_header, #kt_drawer_chat_messenger_footer" data-kt-scroll-wrappers="#kt_drawer_chat_messenger_body" data-kt-scroll-offset="0px">
                                                                <!--begin::Message(in)-->
                                                                <div class="d-flex justify-content-end mb-10">
                                                                    <div class="d-flex flex-column align-items-end">
                                                                        <div class="d-flex align-items-center mb-2">
                                                                            <div class="me-3">
                                                                                <button class="btn btn-sm btn-active-light-primary me-1" style="padding:5px;" ng-if="mailData.length!=0" ng-click="MarkAllAsRead()" id="markAllButton">Mark all read</button>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="d-flex justify-content-start mb-10" ng-repeat="messages in mailData">
                                                                    <div class="d-flex flex-column align-items-start">
                                                                        <div class="d-flex align-items-center mb-2">
                                                                            <div class="symbol symbol-35px symbol-circle">
                                                                                <img alt="Pic" src="../images/person-circle.svg" style="filter: invert(53%) sepia(16%) saturate(253%) hue-rotate(201deg) brightness(92%) contrast(86%);">
                                                                            </div>
                                                                            <div class="ms-3">
                                                                                <a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary me-1">{{messages.FromEmployeeName}}</a>
                                                                                <span class="text-muted fs-7 mb-1">{{messages.NotificationDateString}}</span>
                                                                            </div>
                                                                            <span class="badge bg-danger rounded-pill float-end" ng-click="MarkAsReadSingle(messages.NotificationAlertIID)"></span>

                                                                        </div>
                                                                        <div class="p-5 rounded-3 bg-light-info text-dark fw-semibold mw-lg-400px text-start" ng-bind-html="messages.Message"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card-footer pt-4" id="kt_drawer_chat_messenger_footer">
                                                            <div class="d-flex flex-stack">
                                                                <div class="d-flex align-items-center me-2">

                                                                </div>
                                                                <button class="btn btn-primary" type="button" ng-click="loadMessages()">refresh</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>


                                            <nav class="navbar navbar-expand-md shadow-none">
                                                <div class="container">

                                                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                                        <span class="navbar-toggler-icon"></span>
                                                    </button>

                                                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                                        <ul class="navbar-nav ms-auto">
                                                            <li class="nav-item dropdown">
                                                                <a ng-model="HeaderInfoModel" ng-init="Init();" class="nav-link dropdown-toggle text-white p-0" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                                                    <img class="mr-2 filter-white" src="../images/person-square.svg" />
                                                                    <span class="username username-hide-on-mobile" onclick="window.location.href='@request'">

                                                                        <span ng-bind="HeaderInfoModel.UserName != null ? HeaderInfoModel.UserName : HeaderInfoModel.Customer == null ? HeaderInfoModel.Supplier == null ? HeaderInfoModel.LoginEmailID : HeaderInfoModel.Supplier.FirstName :  HeaderInfoModel.Customer.FirstName"></span>
                                                                        <span ng-bind="HeaderInfoModel.Customer == null ? HeaderInfoModel.Supplier == null ? '' : HeaderInfoModel.Supplier.MiddleName : HeaderInfoModel.Customer.MiddleName"></span>
                                                                        <span ng-bind="HeaderInfoModel.Customer == null ? HeaderInfoModel.Supplier == null ? '' : HeaderInfoModel.Supplier.LastName : HeaderInfoModel.Customer.LastName"></span>

                                                                    </span>

                                                                </a>

                                                                <!-- Here's the magic. Add the .animate and .slideIn classes to your .dropdown-menu and you're all set! -->
                                                                <div class="dropdown-menu menu-sub menu-sub-dropdown w-200px py-4" aria-labelledby="navbarDropdown">


                                                                    @*<div class="separator mb-3 opacity-75"></div>*@
                                                                    @*<a class="dropdown-item" href="#">Action</a>*@
                                                                    <a class=" menu-item px-3" ng-click="changepassword()" href="#">
                                                                        <div class="  dropdown-item rounded-3 menu-link px-3 menu-gray-800 fw-semibold px-3">
                                                                            <i class="icon-settings mr-2"></i> Change Password
                                                                        </div>


                                                                    </a>
                                                                    @*<a class="dropdown-item" href="#">Another action</a>*@
                                                                    <a class="menu-item px-3" id="kt_drawer_example_basic_button" onclick="ComposeMailToggle()">
                                                                        <div class="  dropdown-item rounded-3 menu-link px-3 menu-gray-800 fw-semibold px-3">

                                                                            <i class="icon-directions mr-2"></i> Help
                                                                        </div>
                                                                    </a>
                                                                    <div class="dropdown-divider"></div>

                                                                    @*<a class="dropdown-item" href="#">Something else here</a>*@
                                                                    <a class=" menu-item px-3" ng-click="Signout()">
                                                                        <div class="  dropdown-item rounded-3 menu-link px-3 menu-gray-800 fw-semibold  bg-danger-soft-hover">

                                                                            <img src="~/Images/power.svg" class="me-2" /> Log Out
                                                                        </div>
                                                                    </a>
                                                                </div>



                                                                @*<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        Click Me!
                                                                    </a>

                                                                    <div class="dropdown-menu dropdown-menu-end animate slideIn" aria-labelledby="navbarDropdown">
                                                                        <a class="dropdown-item" href="#">Action</a>
                                                                        <a class="dropdown-item" href="#">Another action</a>
                                                                        <div class="dropdown-divider"></div>
                                                                        <a class="dropdown-item" href="#">Something else here</a>
                                                                    </div>*@
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </nav>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </section>




            <!-- end header -->
        </div>

        @RenderBody()

        <div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
            <!--begin::Container-->
            <div class="container-custom container-xxl d-flex flex-md-row align-items-center justify-content-between">
                <!--begin::Copyright-->
                <div class="text-dark order-2 order-md-1 px-2">
                    <span class="text-muted fw-semibold me-1">2022©</span>
                    <a target="_blank" class="text-gray-800 text-hover-primary">Podar Pearl School</a>
                </div>
                <!--end::Copyright-->
                <!--begin::Menu-->
                <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
                    <li class="menu-item">
                        <a href="~/Home/about" class="menu-link px-2">About</a>
                    </li>
                    <li class="menu-item">
                        <a href="~/Home/contact" class="menu-link px-2">Contact Us</a>
                    </li>


                </ul>
                <!--end::Menu-->
            </div>
            <!--end::Container-->
        </div>
        <style>
        </style>
        <script type="text/javascript">
        utility.myHost = "@string.Format("{0}://{1}{2}/", Request.Url.Scheme, Request.Url.Authority, HttpRuntime.AppDomainAppVirtualPath)";

        $('.datepicker').bind("cut copy paste", function (e) {
            e.preventDefault();
        });

        $(document).ready(function () {
            $(".PageLoaderBG_v02").hide();
            //var dateofbirthmindate = new Date().addYears(-3).toDateString();
            //var defaultDOBDate = new Date(dateofbirthmindate);
            //$(".dateofbirth").datepicker({
            //    maxDate: new Date().addYears(-3),
            //    defaultDate: defaultDOBDate
            //});

            //$(".maxtodayDate").datepicker({
            //    maxDate: new Date(),
            //});

            //$(".mintodayDate").datepicker({
            //    minDate: new Date(),
            //});

            //$('#PassportNoIssueString').on('change', function () {
            //    //- get date from another datepicker without language dependencies
            //    var PassportNoIssueString = $('#PassportNoIssueString').datepicker()[0].value;

            //    if (PassportNoIssueString != "" && PassportNoIssueString != null) {
            //        var minDate = new Date(dateofbirthmindate);
            //        //$("#PassportNoExpiryString").datepicker("change", { minDate: minDate });
            //    }
            //});
            //$('#PassportNoExpiryString').on('change', function () {
            //    var PassportNoExpiryString = new Date($('#PassportNoExpiryString').datepicker()[0].value);
            //    var PassportNoIssueString = new Date($('#PassportNoIssueString').datepicker()[0].value);
            //    //- get date from another datepicker without language dependencies
            //    //var maxDate = new Date(PassportNoExpiryString);
            //    //$("#PassportNoIssueString").datepicker("change", { maxDate: maxDate });
            //    if (PassportNoIssueString < PassportNoExpiryString) {

            //    }
            //    else if (PassportNoExpiryString != null && PassportNoExpiryString != "") {}
            //        else {
            //        $('#PassportNoExpiryString').val("");
            //        alert("Please select valide Expiry date..!");
            //    }

            //});

        })
        function ComposeMailToggle() {
            $("#mailComposeContainer").show();
        }

        $(document).ready(function () {
            $('.toggle-menu').click(function () {
                $(this).toggleClass('active');
                $('#menu').toggleClass('open');
            });
        });
        </script>

        <style>
            .dropdown-content {
                top: 0rem !important;
            }
        </style>
        <link href="~/Content/Design_v02_Overite.css" rel="stylesheet" />

        <link rel="stylesheet" href="~/ToasterPlugin/simple-notify.min.css" />

        <script src="~/ToasterPlugin/simple-notify.min.js"></script>
        <script>

            function callToasterPlugin(status, title) {
                new Notify({
                    status: status,
                    title: title,
                    effect: 'fade',
                    speed: 300,
                    customClass: null,
                    customIcon: null,
                    showIcon: true,
                    showCloseButton: true,
                    autoclose: true,
                    autotimeout: 3000,
                    gap: 20,
                    distance: 20,
                    type: 1,
                    position: 'center'
                })
            }

        </script>

        <script>

            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-64633646-1', 'auto');
            ga('send', 'pageview');
        </script>

        <script>
            $(".sidebar-menu-icon").on("click", function () {
                $(".sidebar-menu-wrap").addClass("active");
            });
            $(".sidebar-menu-close").on("click", function () {
                $(".sidebar-menu-wrap").removeClass("active");
            });
            $(".sidebar-menu-wrap .list-inline > li").on("click", function () {
                $(".sidebar-menu-wrap .list-inline > li").removeClass("active");
                var listItems = $(".sidebar-menu-wrap .list-inline > li");

                for (let li of listItems) {
                    let product = $(li);
                    product.children().eq(1).removeClass("open");
                    product.children().eq(1).css("display", "none");
                }

                $(this).addClass("active");
                $(this).children().eq(1).addClass("open").css("display", "block");
            });

            $(".sidebar-menu-wrap .multi-level .menu-item").after(
                "<i class='las la-angle-right'></i>"
            );







        </script>

        <div class="PageLoaderBG_v02">
            <ul class="loadingclass" style="margin-bottom: 0px; padding-left: 0px; width: 52px; height: 52px;">
                <li>
                    <div>
                        <div class="paymentLoader frontPanel"></div>
                        <img class="loaderimage" src="../img/logo_loader.png">
                    </div>
                </li>
            </ul>
        </div>

</body>

</html>
