@model bool

<!-- New fields START -->
<div class="@(Model ? "form-group editorfield" : "sku-fielditems editorfield")">
    <label class="addprodleft control-label">Description</label>
    <div class="controls">
        @if (Model)
        {
            @*<span class="text-editor"><a class="popupbtn" data-popup-type="editor" title="designer text" href="" ng-click="RichEditorClick($event, 'ProductModel.QuickCreate.ProductInventoryConfigViewModels.Description', null, 'Description')"></a></span>
                <textarea rows="5" cols="100" class="texteditor editor"  data-popup-type="editor" ng-model="ProductModel.QuickCreate.ProductInventoryConfigViewModels.Description"  name="Description"></textarea>*@
            <span class="text-editor"><a class="popupbtn" data-popup-type="editor" title="designer text" href="" ng-click="RichEditorClick($event, 'ProductModel.QuickCreate.ProductInventoryConfigViewModels.Description', ProductModel.QuickCreate.ProductInventoryConfigViewModels.ProductInventoryConfigID,  'Description')"></a></span>
            <div class="controls productname fieldpopup">
                <textarea rows="5" cols="100" class="texteditor editor" data-popup-type="editor" ng-focus="MultilanguagePopup($event, 'show');" ng-model="ProductModel.QuickCreate.ProductInventoryConfigViewModels.Description.Text" name="Description"></textarea>
                <div class="languageoption">
                    <ul>
                        <li ng-repeat="culture in ProductModel.QuickCreate.ProductInventoryConfigViewModels.Description.CultureDatas">
                            <label ng-bind="culture.CultureName"></label>
                            <span ng-if="$index == 0" class="text-editor"><a class="popupbtn" data-popup-type="editor" title="designer text" href="" ng-click="RichEditorClick($event, ProductModel.QuickCreate.ProductInventoryConfigViewModels, ProductModel.QuickCreate.ProductInventoryConfigViewModels.ProductInventoryConfigID, 'Description',$index,culture.CultureValue)"></a></span>
                            <textarea ng-if="$index == 0" rows="5" cols="100" class="texteditor editor" value="{{culture.CultureValue; ProductModel.QuickCreate.ProductInventoryConfigViewModels.Description.Text=culture.CultureValue;}}"
                                      data-popup-type="editor" ng-model="culture.CultureValue" name="Description"></textarea>
                            <span ng-if="$index != 0" class="text-editor"><a class="popupbtn" data-popup-type="editor" title="designer text" href="" ng-click="RichEditorClick($event, sku.ProductInventoryConfigViewModels, ProductModel.QuickCreate.ProductInventoryConfigViewModels.ProductInventoryConfigID, 'Description',$index,culture.CultureValue)"></a></span>
                            <textarea ng-if="$index != 0" rows="5" cols="100" class="texteditor editor" value="{{culture.CultureValue;}}"
                                      data-popup-type="editor" ng-model="culture.CultureValue" name="Description"></textarea>
                        </li>
                    </ul>
                </div>
            </div>
        }
        else
        {
            <span class="text-editor"><a class="popupbtn" data-popup-type="editor" title="designer text" href="" ng-click="RichEditorClick($event, 'ProductModel.SKUMappings.ProductInventoryConfigViewModels.Description', sku.ProductInventoryConfigViewModels.ProductInventoryConfigID,  'Description')"></a></span>
            <div class="controls productname fieldpopup">
                <textarea rows="5" cols="100" class="texteditor editor" data-popup-type="editor" ng-focus="MultilanguagePopup($event, 'show');" ng-model="sku.ProductInventoryConfigViewModels.Description.Text" name="Description"></textarea>
                <div class="languageoption">
                    <ul>
                        <li ng-repeat="culture in sku.ProductInventoryConfigViewModels.Description.CultureDatas">
                            <label ng-bind="culture.CultureName"></label>
                            <span ng-if="$index == 0" class="text-editor"><a class="popupbtn" data-popup-type="editor" title="designer text" href="" ng-click="RichEditorClick($event, sku.ProductInventoryConfigViewModels, sku.ProductInventoryConfigViewModels.ProductInventoryConfigID, 'Description',$index,culture.CultureValue)"></a></span>
                            <textarea ng-if="$index == 0" rows="5" cols="100" class="texteditor editor" value="{{culture.CultureValue; sku.ProductInventoryConfigViewModels.Description.Text=culture.CultureValue;}}"
                                      data-popup-type="editor" ng-model="culture.CultureValue" name="Description"></textarea>
                            <span ng-if="$index != 0" class="text-editor"><a class="popupbtn" data-popup-type="editor" title="designer text" href="" ng-click="RichEditorClick($event, sku.ProductInventoryConfigViewModels, sku.ProductInventoryConfigViewModels.ProductInventoryConfigID, 'Description',$index,culture.CultureValue)"></a></span>
                            <textarea ng-if="$index != 0" rows="5" cols="100" class="texteditor editor" value="{{culture.CultureValue;}}"
                                      data-popup-type="editor" ng-model="culture.CultureValue" name="Description"></textarea>
                        </li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>

<div class="@(Model ? "form-group editorfield" : "sku-fielditems editorfield")">
    <label class="addprodleft control-label">Detail</label>
    <div class="controls">
        @if (Model)
        {
            @*<span class="text-editor"><a class="popupbtn" data-popup-type="editor" title="designer text" href="" ng-click="RichEditorClick($event, 'ProductModel.QuickCreate.ProductInventoryConfigViewModels.Details', null, 'Details')"></a></span>
                <textarea rows="5" cols="100" class="texteditor editor" data-popup-type="editor" ng-model="ProductModel.QuickCreate.ProductInventoryConfigViewModels.Details" id="Details" name="Details"></textarea>*@
            <span class="text-editor"><a class="popupbtn" data-popup-type="editor" title="designer text" href="" ng-click="RichEditorClick1($event, 'ProductModel.SKUMappings.ProductInventoryConfigViewModels.Details', ProductModel.QuickCreate.ProductInventoryConfigViewModels.ProductInventoryConfigID,  'Details')"></a></span>
            <div class="controls productname fieldpopup">
                <textarea rows="5" cols="100" class="texteditor editor" data-popup-type="editor" ng-focus="MultilanguagePopup($event, 'show');" ng-model="ProductModel.QuickCreate.ProductInventoryConfigViewModels.Details.Text" name="Details"></textarea>
                <div class="languageoption">
                    <ul>
                        <li ng-repeat="culture in ProductModel.QuickCreate.ProductInventoryConfigViewModels.Details.CultureDatas">
                            <label ng-bind="culture.CultureName"></label>
                            <span ng-if="$index == 0" class="text-editor"><a class="popupbtn" data-popup-type="editor" title="designer text" href="" ng-click="RichEditorClick($event, sku.ProductInventoryConfigViewModels, ProductModel.QuickCreate.ProductInventoryConfigViewModels.ProductInventoryConfigID, 'Details',$index,culture.CultureValue)"></a></span>
                            <textarea ng-if="$index == 0" rows="5" cols="100" class="texteditor editor" value="{{culture.CultureValue; ProductModel.QuickCreate.ProductInventoryConfigViewModels.Details.Text=culture.CultureValue;}}"
                                      data-popup-type="editor" ng-model="culture.CultureValue" name="Details"></textarea>
                            <span ng-if="$index != 0" class="text-editor"><a class="popupbtn" data-popup-type="editor" title="designer text" href="" ng-click="RichEditorClick($event, ProductModel.QuickCreate.ProductInventoryConfigViewModels, ProductModel.QuickCreate.ProductInventoryConfigViewModels.ProductInventoryConfigID, 'Details',$index,culture.CultureValue)"></a></span>
                            <textarea ng-if="$index != 0" rows="5" cols="100" class="texteditor editor" value="{{culture.CultureValue;}}"
                                      data-popup-type="editor" ng-model="culture.CultureValue" name="Details"></textarea>
                        </li>
                    </ul>
                </div>
            </div>
        }
        else
        {
            @*<span class="text-editor"><a class="popupbtn" data-popup-type="editor" title="designer text" href="" ng-click="RichEditorClick($event, 'ProductModel.SKUMappings.ProductInventoryConfigViewModels.Details', sku.ProductInventoryConfigViewModels.ProductInventoryConfigID, 'Details')"></a></span>
                <textarea rows="5" cols="100" class="texteditor editor" data-popup-type="editor" ng-model="sku.ProductInventoryConfigViewModels.Details" id="Details" name="Details"></textarea>*@
            <span class="text-editor"><a class="popupbtn" data-popup-type="editor" title="designer text" href="" ng-click="RichEditorClick1($event, 'ProductModel.SKUMappings.ProductInventoryConfigViewModels.Details', sku.ProductInventoryConfigViewModels.ProductInventoryConfigID,  'Details')"></a></span>
            <div class="controls productname fieldpopup">
                <textarea rows="5" cols="100" class="texteditor editor" data-popup-type="editor" ng-focus="MultilanguagePopup($event, 'show');" ng-model="sku.ProductInventoryConfigViewModels.Details.Text" name="Details"></textarea>
                <div class="languageoption">
                    <ul>
                        <li ng-repeat="culture in sku.ProductInventoryConfigViewModels.Details.CultureDatas">
                            <label ng-bind="culture.CultureName"></label>
                            <span ng-if="$index == 0" class="text-editor"><a class="popupbtn" data-popup-type="editor" title="designer text" href="" ng-click="RichEditorClick($event, sku.ProductInventoryConfigViewModels, sku.ProductInventoryConfigViewModels.ProductInventoryConfigID, 'Details',$index,culture.CultureValue)"></a></span>
                            <textarea ng-if="$index == 0" rows="5" cols="100" class="texteditor editor" value="{{culture.CultureValue; sku.ProductInventoryConfigViewModels.Details.Text=culture.CultureValue;}}"
                                      data-popup-type="editor" ng-model="culture.CultureValue" name="Details"></textarea>
                            <span ng-if="$index != 0" class="text-editor"><a class="popupbtn" data-popup-type="editor" title="designer text" href="" ng-click="RichEditorClick($event, sku.ProductInventoryConfigViewModels, sku.ProductInventoryConfigViewModels.ProductInventoryConfigID, 'Details',$index,culture.CultureValue)"></a></span>
                            <textarea ng-if="$index != 0" rows="5" cols="100" class="texteditor editor" value="{{culture.CultureValue;}}"
                                      data-popup-type="editor" ng-model="culture.CultureValue" name="Details"></textarea>
                        </li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>

<!-- New fields END -->


<div class="@(Model ? "form-group" : "sku-fielditems")">
    <label class="addprodleft control-label">Notify Quantity</label>
    <div class="@(Model ? "controls" : string.Empty)">
        @if (Model)
        {
            <input type="text" ng-model="ProductModel.QuickCreate.ProductInventoryConfigViewModels.NotifyQuantity"
                   valid-decimal />
        }
        else
        { <input type="text" ng-model="sku.ProductInventoryConfigViewModels.NotifyQuantity"
                 valid-decimal />
        }
    </div>
</div>


<div class="@(Model ? "form-group" : "sku-fielditems")">
    <label class="addprodleft control-label">Minimum Quantity</label>
    <div class="@(Model ? "controls" : string.Empty)">
        @if (Model)
        {
            <input type="text" ng-model="ProductModel.QuickCreate.ProductInventoryConfigViewModels.MinimumQuantity"
                   valid-decimal />
        }
        else
        {  <input type="text" ng-model="sku.ProductInventoryConfigViewModels.MinimumQuantity"
                  valid-decimal />
        }
    </div>
</div>


<div class="@(Model ? "form-group" : "sku-fielditems")">
    <label class="addprodleft control-label">Maximum Quantity Per Customer</label>
    <div class="@(Model ? "controls" : string.Empty)">
        @if (Model)
        {
            <input type="text" ng-model="ProductModel.QuickCreate.ProductInventoryConfigViewModels.MaximumQuantity"
                   valid-decimal />
        }
        else
        {  <input type="text" ng-model="sku.ProductInventoryConfigViewModels.MaximumQuantity"
                  valid-decimal />
        }
    </div>
</div>

<div class="@(Model ? "form-group" : "sku-fielditems")">
    <label class="addprodleft control-label">Max Quantity In Cart For Verified Customer</label>
    <div class="@(Model ? "controls" : string.Empty)">
        @if (Model)
        {
            <input type="text" ng-model="ProductModel.QuickCreate.ProductInventoryConfigViewModels.MaxQuantityInCartForVerifiedCustomer"
                   valid-decimal />
        }
        else
        {  <input type="text" ng-model="sku.ProductInventoryConfigViewModels.MaxQuantityInCartForVerifiedCustomer"
                  valid-decimal />
        }
    </div>
</div>
<div class="@(Model ? "form-group" : "sku-fielditems")">
    <label class="addprodleft control-label">Max Quantity In Cart For Non-Verified Customer</label>
    <div class="@(Model ? "controls" : string.Empty)">
        @if (Model)
        {
            <input type="text" ng-model="ProductModel.QuickCreate.ProductInventoryConfigViewModels.MaxQuantityInCartForNonVerifiedCustomer"
                   valid-decimal />
        }
        else
        {  <input type="text" ng-model="sku.ProductInventoryConfigViewModels.MaxQuantityInCartForNonVerifiedCustomer"
                  valid-decimal />
        }
    </div>
</div>
<div class="@(Model ? "form-group" : "sku-fielditems")">
    <label class="addprodleft control-label">Max Quantity Duration (In Days)</label>
    <div class="@(Model ? "controls" : string.Empty)">
        @if (Model)
        {
            <input type="text" ng-model="ProductModel.QuickCreate.ProductInventoryConfigViewModels.MaxQuantityDuration"
                   valid-decimal />
        }
        else
        {  <input type="text" ng-model="sku.ProductInventoryConfigViewModels.MaxQuantityDuration"
                  valid-decimal />
        }
    </div>
</div>

<div class="@(Model ? "form-group" : "sku-fielditems")">
    <label class="addprodleft control-label">Minimum QuanityInCart</label>
    <div class="@(Model ? "controls" : string.Empty)">
        @if (Model)
        {
            <input type="text" ng-model="ProductModel.QuickCreate.ProductInventoryConfigViewModels.MinimumQuanityInCart"
                   valid-decimal />
        }
        else
        {  <input type="text" ng-model="sku.ProductInventoryConfigViewModels.MinimumQuanityInCart"
                  valid-decimal />
        }
    </div>
</div>


<div class="@(Model ? "form-group" : "sku-fielditems")">
    <label class="addprodleft control-label">Maximum QuantityInCart</label>
    <div class="@(Model ? "controls" : string.Empty)">
        @if (Model)
        {
            <input type="text" ng-model="ProductModel.QuickCreate.ProductInventoryConfigViewModels.MaximumQuantityInCart"
                   valid-decimal />
        }
        else
        { <input type="text" ng-model="sku.ProductInventoryConfigViewModels.MaximumQuantityInCart"
                 valid-decimal />
        }
    </div>
</div>


<div class="@(Model ? "form-group" : "sku-fielditems")">
    <label class="addprodleft control-label">Product Warranty</label>
    <div class="@(Model ? "controls" : string.Empty)">
        @if (Model)
        {
            <input type="text" ng-model="ProductModel.QuickCreate.ProductInventoryConfigViewModels.ProductWarranty"
                   maxlength="10" />
        }
        else
        { <input type="text" ng-model="sku.ProductInventoryConfigViewModels.ProductWarranty"
                 maxlength="10" />
        }
    </div>
</div>


<div class="@(Model ? "form-group" : "sku-fielditems")">
    <label class="addprodleft control-label">Delivery Method</label>
    <div class="@(Model ? "controls" : string.Empty)">
        @if (Model)
        {
            @*<input type="text" ng-model="ProductModel.QuickCreate.ProductInventoryConfigViewModels.DeliveryMethod"
                maxlength="10" />*@

            <select ng-model="ProductModel.QuickCreate.ProductInventoryConfigViewModels.DeliveryMethod"
                    ng-options="delivery.DeliveryTypeID as delivery.DeliveryMethod for delivery in ProductModel.QuickCreate.DeliveryTypeViewModels">
                <option value="">Select</option>
            </select>
        }
        else
        { @*<input type="text" ng-model="sku.ProductInventoryConfigViewModels.DeliveryMethod"
            maxlength="10" />*@

            <select ng-model="sku.ProductInventoryConfigViewModels.DeliveryMethod"
                    ng-options="delivery.DeliveryTypeID as delivery.DeliveryMethod for delivery in ProductModel.QuickCreate.DeliveryTypeViewModels">
                <option value="">Select</option>
            </select>
        }
    </div>
</div>


<div class="@(Model ? "form-group" : "sku-fielditems")">
    <label class="addprodleft control-label">Product Weight</label>
    <div class="@(Model ? "controls" : string.Empty)">
        @if (Model)
        {
            <input type="text" ng-model="ProductModel.QuickCreate.ProductInventoryConfigViewModels.ProductWeight"
                   valid-decimal />
        }
        else
        { <input type="text" ng-model="sku.ProductInventoryConfigViewModels.ProductWeight"
                 valid-decimal />
        }
    </div>
</div>


<div class="@(Model ? "form-group" : "sku-fielditems")">
    <label class="addprodleft control-label">Product Length</label>
    <div class="@(Model ? "controls" : string.Empty)">
        @if (Model)
        {
            <input type="text" ng-model="ProductModel.QuickCreate.ProductInventoryConfigViewModels.ProductLength"
                   valid-decimal />
        }
        else
        {  <input type="text" ng-model="sku.ProductInventoryConfigViewModels.ProductLength"
                  valid-decimal />
        }
    </div>
</div>


<div class="@(Model ? "form-group" : "sku-fielditems")">
    <label class="addprodleft control-label">Product Width</label>
    <div class="@(Model ? "controls" : string.Empty)">
        @if (Model)
        {
            <input type="text" ng-model="ProductModel.QuickCreate.ProductInventoryConfigViewModels.ProductWidth"
                   valid-decimal />
        }
        else
        {  <input type="text" ng-model="sku.ProductInventoryConfigViewModels.ProductWidth"
                  valid-decimal />
        }
    </div>
</div>


<div class="@(Model ? "form-group" : "sku-fielditems")">
    <label class="addprodleft control-label">Product Height</label>
    <div class="@(Model ? "controls" : string.Empty)">
        @if (Model)
        {
            <input type="text" ng-model="ProductModel.QuickCreate.ProductInventoryConfigViewModels.ProductHeight"
                   valid-decimal />
        }
        else
        {  <input type="text" ng-model="sku.ProductInventoryConfigViewModels.ProductHeight"
                  valid-decimal />
        }
    </div>
</div>


<div class="@(Model ? "form-group" : "sku-fielditems")">
    <label class="addprodleft control-label">Dimensional Weight</label>
    <div class="@(Model ? "controls" : string.Empty)">
        @if (Model)
        {
            <input type="text" ng-model="ProductModel.QuickCreate.ProductInventoryConfigViewModels.DimensionalWeight"
                   valid-decimal />
        }
        else
        { <input type="text" ng-model="sku.ProductInventoryConfigViewModels.DimensionalWeight"
                 valid-decimal />
        }
    </div>
</div>


<div class="@(Model ? "form-group" : "sku-fielditems")">
    <label class="addprodleft control-label">Serial Number</label>
    <div class="@(Model ? "controls" : string.Empty)">
                @if (Model)
                {
                    <label class="checkboxwrap">
                        <input type="checkbox" ng-model="ProductModel.QuickCreate.ProductInventoryConfigViewModels.IsSerialNumber"
                               ng-change="ProductModel.QuickCreate.ProductInventoryConfigViewModels.IsSerialNumberRequiredForPurchase = false" /><span class="checkboxinner"></span>
                    </label>
                }
                else
                {
                    <label class="checkboxwrap">
                        <input type="checkbox" ng-model="sku.ProductInventoryConfigViewModels.IsSerialNumber"
                               ng-change="sku.ProductInventoryConfigViewModels.IsSerialNumberRequiredForPurchase = false" /><span class="checkboxinner"></span>
                    </label>
                }
</div>
</div>

<div class="@(Model ? "form-group" : "sku-fielditems")">
    <label class="addprodleft control-label">Is Serial required on Purchase</label>
    <div class="@(Model ? "controls" : string.Empty)">
        @if (Model)
        {
            <label class="checkboxwrap">
                <input type="checkbox" ng-model="ProductModel.QuickCreate.ProductInventoryConfigViewModels.IsSerialNumberRequiredForPurchase"
                       ng-disabled="!ProductModel.QuickCreate.ProductInventoryConfigViewModels.IsSerialNumber" /><span class="checkboxinner"></span>
            </label>
        }
        else
        {       <label class="checkboxwrap">
            <input type="checkbox" ng-model="sku.ProductInventoryConfigViewModels.IsSerialNumberRequiredForPurchase"
                   ng-disabled="!sku.ProductInventoryConfigViewModels.IsSerialNumber" /><span class="checkboxinner"></span>
        </label>
        }
    </div>
</div>

<div class="@(Model ? "form-group" : "sku-fielditems")">
    <label class="addprodleft control-label">Is Serial Number Auto Generated</label>
    <div class="@(Model ? "controls" : string.Empty)">
        @if (Model)
        {   <label class="checkboxwrap">
            <input type="checkbox" ng-checked="{{ProductModel.QuickCreate.ProductInventoryConfigViewModels.IsSerailNumberAutoGenerated}}"
                   ng-model="ProductModel.QuickCreate.ProductInventoryConfigViewModels.IsSerailNumberAutoGenerated" />
            <span class="checkboxinner"></span>
        </label>
        }
        else
        { <label class="checkboxwrap">
            <input type="checkbox" ng-checked="{{sku.ProductInventoryConfigViewModels.IsSerailNumberAutoGenerated}}"
                   ng-model="sku.ProductInventoryConfigViewModels.IsSerailNumberAutoGenerated" />
            <span class="checkboxinner"></span>
        </label>
        }
    </div>
</div>

<div class="@(Model ? "form-group" : "sku-fielditems")">
    <label class="addprodleft control-label">Grouping Key</label>
    <div class="@(Model ? "controls" : string.Empty)">
        @if (Model)
        {<input type="text" ng-model="ProductModel.QuickCreate.ProductInventoryConfigViewModels.GroupingKey" />
        }
        else
        { <input type="text" ng-model="sku.ProductInventoryConfigViewModels.GroupingKey" />
        }
    </div>
</div>

<div class="@(Model ? "form-group" : "sku-fielditems")">
    <label class="addprodleft control-label">HSCode</label>
    <div class="@(Model ? "controls" : string.Empty)">
        @if (Model)
        {
            <input type="text" ng-model="ProductModel.QuickCreate.ProductInventoryConfigViewModels.HSCode" />
        }
        else
        {
            <input type="text" ng-model="sku.ProductInventoryConfigViewModels.HSCode" />
        }
    </div>
</div>


<div class="@(Model ? "form-group" : "sku-fielditems")">
    <label class="addprodleft control-label">Packing Type</label>
    <div class="@(Model ? "controls" : string.Empty)">
        @if (Model)
        {
            <select ng-model="ProductModel.QuickCreate.ProductInventoryConfigViewModels.PackingTypeID"
                    ng-options="packing.PackingTypeID as packing.PackingTypeName for packing in ProductModel.QuickCreate.PackingTypes">
                <option value="">Select</option>
            </select>
        }
        else
        {

            <select ng-model="sku.ProductInventoryConfigViewModels.PackingTypeID"
                    ng-options="packing.PackingTypeID as packing.PackingTypeName for packing in ProductModel.QuickCreate.PackingTypes">
                <option value="">Select</option>
            </select>

        }
    </div>
</div>

<div class="@(Model ? "form-group" : "sku-fielditems")">
    <label class="addprodleft control-label">IsMarket Place</label>
    <div class="@(Model ? "controls" : string.Empty)">
        @if (Model)
        {
            <label class="checkboxwrap">
                <input type="checkbox" ng-model="ProductModel.QuickCreate.ProductInventoryConfigViewModels.IsMarketPlace" /><span class="checkboxinner"></span>
            </label>
        }
        else
        {  <label class="checkboxwrap">
            <input type="checkbox" ng-model="sku.ProductInventoryConfigViewModels.IsMarketPlace" /><span class="checkboxinner"></span>
        </label>
        }


    </div>
</div>
<div class="@(Model ? "form-group" : "sku-fielditems")">
    <label class="addprodleft control-label">Is Non Refundable</label>
    <div class="@(Model ? "controls" : string.Empty)">
        @if (Model)
        { <label class="checkboxwrap">
            <input type="checkbox" ng-checked="{{ProductModel.QuickCreate.ProductInventoryConfigViewModels.IsNonRefundable}}"
                   ng-model="ProductModel.QuickCreate.ProductInventoryConfigViewModels.IsNonRefundable" />
            <span class="checkboxinner"></span>
        </label>
        }
        else
        {   <label class="checkboxwrap">
            <input type="checkbox" ng-checked="{{sku.ProductInventoryConfigViewModels.IsNonRefundable}}" ng-model="sku.ProductInventoryConfigViewModels.IsNonRefundable" /><span class="checkboxinner"></span>
        </label>
        }
</div>
</div>
@if (!Model)
{
    <div class="sku-fielditems">
        <label class="addprodleft control-label">Hide from list</label>
        <label class="checkboxwrap">
            <input type="checkbox" ng-checked="{{sku.ProductInventoryConfigViewModels.IsHiddenFromList}}" ng-model="sku.ProductInventoryConfigViewModels.IsHiddenFromList" />
            <span class="checkboxinner"></span>
        </label>
    </div>
}
@if (!Model)
{
    <div class="sku-fielditems">
        <label class="addprodleft control-label">Hide SKU</label>
        <label class="checkboxwrap">
            <input type="checkbox" ng-checked="{{sku.ProductInventoryConfigViewModels.HideSKU}}" ng-model="sku.ProductInventoryConfigViewModels.HideSKU" />
            <span class="checkboxinner"></span>
        </label>
    </div>
}

<div class="@(Model ? "form-group" : "sku-fielditems")">
    <label class="addprodleft control-label">Allow Shipping for:</label>
    <div class="@(Model ? "controls" : string.Empty)">
        @if (Model)
        {
            <ui-select multiple style="width: 100%;" ng-model="ProductModel.QuickCreate.ProductInventoryConfigViewModels.AllowShippingfor" theme="select2" class="pos-txt">
                <ui-select-match placeholder="Search Country">{{$item.CountryName}}</ui-select-match>
                <ui-select-choices repeat="countries in ProductModel.QuickCreate.Countries|filter:$select.search">{{countries.CountryName}}</ui-select-choices>
            </ui-select>
        }
        else
        {
            <ui-select multiple style="width: 100%;" ng-model="sku.ProductInventoryConfigViewModels.AllowShippingfor" theme="select2" class="pos-txt">
                <ui-select-match placeholder="Search Country">{{$item.CountryName}}</ui-select-match>
                <ui-select-choices repeat="countries in ProductModel.QuickCreate.Countries|filter:$select.search">{{countries.CountryName}}</ui-select-choices>
            </ui-select>
        }
    </div>

</div>

<div class="@(Model ? "form-group" : "sku-fielditems")">
    <label class="addprodleft control-label">Tags</label>
    <div class="@(Model ? "controls" : string.Empty)">

        <ui-select multiple tagging="tagTransformV2" style="width: 100%;" on-select="UniqueTagV2($item,sku.ProductInventoryConfigViewModels.Tags)" ng-model="@(Model ? "ProductModel.QuickCreate.ProductInventoryConfigViewModels.Tags" : "sku.ProductInventoryConfigViewModels.Tags")"
                   theme="select2" class="pos-txt" ng-disabled="disabled">
            <ui-select-match placeholder="Select New/Exist tag...">{{$item.Value}}</ui-select-match>
            <ui-select-choices repeat="tag in SKUTags | propsFilter: {Value: $select.search}">
                <div ng-bind-html="tag.Value | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>

</div>

<div class="@(Model ? "form-group" : "sku-fielditems")">
    <label class="addprodleft control-label">SKU Owner</label>
    <div class="controls brand">
        <ui-select ng-model="@(Model ? "ProductModel.QuickCreate.ProductInventoryConfigViewModels.SKUOwner" : "sku.ProductInventoryConfigViewModels.SKUOwner")" theme="select2" class="pos-txt">
            <ui-select-match placeholder="Select owner">{{$select.selected.Value}}</ui-select-match>
            <ui-select-choices repeat="employee in employees|filter:$select.search" refresh="GetEmployeeList($select.search)"
                               refresh-delay="50">
                {{employee.Value}}
            </ui-select-choices>
        </ui-select>
    </div>
</div>

@if (!Model)
{
    <div class="sku-fielditems" ng-repeat="property in sku.Properties">
        <label class="addprodleft control-label">{{property.PropertyName}}</label>
        <div>
            <input type="text" ng-model="property.DefaultValue">
        </div>
    </div>
}
else
{
    <div class="form-group" ng-repeat="defaultProperty in ProductModel.QuickCreate.DefaultProperties">
        <label class="addprodleft control-label">{{defaultProperty.PropertyName}}</label>
        <div class="controls productname">
            <input type="text" ng-model="defaultProperty.DefaultValue">
        </div>
    </div>
}
<script>
    $(function () {
        $('.languageoption').resizable({
            minHeight: 155,
            minWidth: 300
        });
    });
</script>