@model Eduegate.Web.Library.Lms.Common.LoginViewModel

@{
    Layout = null;
    ViewBag.Title = "Log in";
    var settings = new Eduegate.Service.Client.SettingServiceClient(null);
    var settingBL = new Eduegate.Domain.Setting.SettingBL(null);
    var portalTitle = settingBL.GetSettingValue<string>("PortalTitle");
    var isMultiCompany = settingBL.GetSettingValue<bool>("IsMultiCompany", 0, false);

    var client = new Eduegate.Domain.FrameworkSettingBL(null).GetSettingValue<string>("CLIENTINSTANCE");
    var clientFullName = new Eduegate.Domain.FrameworkSettingBL(null).GetSettingValue<string>("CLIENT_FULL_NAME");
}

<!DOCTYPE html>
<html lang="en" ng-app="Eduegate.Signup.Portal">
<head>
    <title>@portalTitle</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="~/Content/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Content/normalize.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/Content/materialize.min.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/Content/c3.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Content/Login-styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Content/aos.css" asp-append-version="true">
    @* <link rel="stylesheet" href="~/Content/main.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/Content/animate.css" type="text/css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" asp-append-version="true" />


    <script src="~/Scripts/jquery-3.4.1.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.prettyPhoto.js" asp-append-version="true"></script>
    <script src="~/Scripts/draggable/draggable.bundle.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.validate.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.custom.js" asp-append-version="true"></script>
    <script src="~/app/CustomValidation.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/bootstrap.js" asp-append-version="true"></script>
    <script src="~/Scripts/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/respond.js" asp-append-version="true"></script>
    <script src="~/Scripts/angular.js" asp-append-version="true"></script>
    <script src="~/Scripts/angular-route.js" asp-append-version="true"></script>
    <script src="~/Scripts/angular-animate.js" asp-append-version="true"></script>
    <script src="~/Scripts/angular-sanitize.js" asp-append-version="true"></script>
    <script src="~/Scripts/i18n/angular-locale_en.js" asp-append-version="true"></script>
    <script src="~/Scripts/tmhDynamicLocale.js" asp-append-version="true"></script>
    <script src="~/Scripts/angular-filter.min.js" asp-append-version="true"></script>

    <script src="~/app/app.js" asp-append-version="true"></script>
    <script src="~/app/CustomValidation.js" asp-append-version="true"></script>
    <script src="~/app/print.min.js" asp-append-version="true"></script>
    <script src="~/app/ReportController.js" asp-append-version="true"></script>
    <script src="~/app/schedule.js" asp-append-version="true"></script>
    <script src="~/app/util.js" asp-append-version="true"></script>

    <script src="~/app/Directives/Angularckeditor.js" asp-append-version="true"></script>
    <script src="~/app/Directives/Angulardatepicker.js" asp-append-version="true"></script>
    <script src="~/app/Directives/Capitalize.js" asp-append-version="true"></script>
    <script src="~/app/Directives/Customdatepicker.js" asp-append-version="true"></script>
    <script src="~/app/Directives/custom-ui-select.js" asp-append-version="true"></script>
    <script src="~/app/Directives/custom-validation.js" asp-append-version="true"></script>
    <script src="~/app/Directives/Datetimepicker.js" asp-append-version="true"></script>
    <script src="~/app/Directives/FileModel.js" asp-append-version="true"></script>
    <script src="~/app/Directives/Initialvalue.js" asp-append-version="true"></script>
    <script src="~/app/Directives/LowerCase.js" asp-append-version="true"></script>
    <script src="~/app/Directives/NgBlur.js" asp-append-version="true"></script>
    <script src="~/app/Directives/NgWith.js" asp-append-version="true"></script>
    <script src="~/app/Directives/NgWithModel.js" asp-append-version="true"></script>
    <script src="~/app/Directives/NumbersOnly.js" asp-append-version="true"></script>
    <script src="~/app/Directives/Onerrorsrc.js" asp-append-version="true"></script>
    <script src="~/app/Directives/Prettyp.js" asp-append-version="true"></script>
    <script src="~/app/Directives/Selectonclick.js" asp-append-version="true"></script>
    <script src="~/app/Directives/Selectonfocus.js" asp-append-version="true"></script>
    <script src="~/app/Directives/skienDatepicker.js" asp-append-version="true"></script>
    <script src="~/app/Directives/Timepicker.js" asp-append-version="true"></script>
    <script src="~/app/Directives/UpperCase.js" asp-append-version="true"></script>
    <script src="~/app/Directives/WbDatepicker.js" asp-append-version="true"></script>

    <script src="~/app/Services/accountService.js" asp-append-version="true"></script>
    <script src="~/app/Services/commonService.js" asp-append-version="true"></script>
    <script src="~/app/Services/productService.js" asp-append-version="true"></script>
    <script src="~/app/Services/purchaseorderService.js" asp-append-version="true"></script>
    <script src="~/app/Services/SubscriptionSignalRService.js" asp-append-version="true"></script>

    <script src="~/app/Controller/LayoutController.js" asp-append-version="true" asp-append-version="true"></script>
    <script src="~/app/Controller/LayoutHeaderController.js" asp-append-version="true" asp-append-version="true"></script>
    <script src="~/app/Controller/login-controller.js" asp-append-version="true" asp-append-version="true"></script>
    <script src="~/app/Controller/SignupController.js" asp-append-version="true" asp-append-version="true"></script>

    <script src="~/Scripts/jquery.waypoints.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/moment.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/angular-moment.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/Select.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery-ui.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.ui.touch-punch.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/Custom.js" asp-append-version="true"></script>
    <script src="~/Scripts/dropzone.js" asp-append-version="true"></script>
    <script src="~/Scripts/excanvas.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.signature.js" asp-append-version="true"></script>
    <script src="~/Scripts/interact.js" asp-append-version="true"></script>
    <script src="~/Scripts/rrule/rrule.js" asp-append-version="true"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js" asp-append-version="true"></script>
    <script src="~/Scripts/boostrapcolorpicker/bootstrap-colorpicker-module.js" asp-append-version="true"></script>
    <script src="~/Scripts/calendar/angular-bootstrap-calendar.js" asp-append-version="true"></script>
    <script src="~/Scripts/d3.js" asp-append-version="true"></script>
    <script src="~/Scripts/c3.js" asp-append-version="true"></script>
    <script src="~/Scripts/underscore-min.js" asp-append-version="true"></script>
    <script src="~/Scripts/shortcut.js" asp-append-version="true"></script>

    <script src="~/app/utility.js" asp-append-version="true"></script>
    <script src="~/app/chartbuilder.js" asp-append-version="true"></script>
    <script src="~/app/BrowserNotifier.js" asp-append-version="true"></script>

    <script src="~/Scripts/materialize.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/JSLINQ.js" asp-append-version="true"></script>
    <script src="~/Scripts/highcharts/highcharts-ng.js" asp-append-version="true"></script>
    <script src="~/Scripts/highcharts//highstock.src.js" asp-append-version="true"></script>
    <script src="~/Scripts/toaster.js" asp-append-version="true"></script>
    <script src="~/Scripts/aos.js" asp-append-version="true"></script>
    <script src="~/Scripts/anime.min.js" asp-append-version="true"></script>

    <script src="~/Scripts/ng-map.min.js" type="text/javascript" asp-append-version="true"></script>

    <style>
        .preload-overlay {
            display: none;
            background: #000;
            height: 100%;
            left: 0;
            opacity: 0.4;
            filter: alpha(opacity=20);
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
        }
    </style>
</head>

<body class="auth-bg bgi-size-cover bgi-attachment-fixed bgi-position-center bgi-no-repeat" data-bs-theme=light ng-controller="LoginController" ng-init="Init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model))">
    <script>
        AOS.init();
    </script>
    <div id="LoginOverlay" class="preload-overlay">
        <div id="LoginButtonLoader" class="preloadImg">
            <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
    <div class="d-flex flex-column flex-root">
        <div class="d-flex flex-column flex-column-fluid flex-lg-row justify-content-between">
            <div class="d-none d-lg-flex  w-lg-50   bg-white">
                <div class="d-flex flex-lg-row-fluid w-lg-50 bgi-size-cover  order-1 order-lg-2  bgi-norepeat bgi-position-x-end bgi-position-y-bottom  position-relative " style="background-image: url(/Images/LMS_LoginBg.svg)">
                    <!--begin::Content-->
                    <div class="d-flex flex-column  py-7 py-lg-15 px-5 px-md-15 w-100">
                    
                        <div class="d-none d-lg-block text-white fs-2x fw-normal  mb-2">
                            PODAR PEARL
                            <br />
                        </div>
                        <span class="text-white" style="font-family: Righteous;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;">LEARNING ECOSYSTEM</span>
                      
                        <img class="position-absolute h-75" style="right:-50px; bottom: 10px;" src="/Images/bg-images.png" />
                    </div>
                    <!--end::Content-->
                </div>

            </div>

            <div class="d-flex flex-center vh-100 flex-lg-row-auto justify-content-center w-lg-50 p-12 p-lg-20 bg-white">
                <div style="min-width:320px;" class="bg-body d-flex flex-column align-items-stretch flex-center rounded-4  p-2 py-lg-24 py-16">
                    <div class="d-flex flex-center flex-column flex-column-fluid px-lg-5 px-4 pb-8 pb-lg-10">
                        <div class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework">
                            <div class="formWrap" style="text-align:center;">
                                <label class="login-label">Login</label>
                            </div><br /><br />
                            <div class="formWrap inputFields">
                                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmLogin", @ng_submit = "Signin($event);" }))
                                {
                                    <div class="form-group mgbt-xs-20 loginfields">
                                        <div class="fv-row mb-8 fv-plugins-icon-container">
                                            <div class="my-4"><span class="text-gray-700 fw-semibold fs-6">User ID or email</span></div>
                                            @Html.TextBoxFor(model => model.Email, new { @class = "required form-control bg-transparent", @ng_model = "LoginModel.Email", @ng_keyup = "EmailKeyup();", @placeholder = "User ID/Email" })
                                            <span class="field-validation-error textleft ng-cloak text-danger fw-semibold" ng-show="IsEmailPasswordIncorrect">Invalid User name or Password</span>
                                        </div>
                                        <div class="fv-row mb-8 fv-plugins-icon-container">
                                            <div class="my-4"><span class="text-gray-700 fw-semibold fs-6">Password</span></div>
                                            @Html.PasswordFor(m => m.Password, new { @class = "required form-control bg-transparent", @ng_model = "LoginModel.Password", @ng_keyup = "PasswordKeyup();", @placeholder = "Password" })
                                            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "validateError d-flex text-danger fw-semibold" })
                                        </div>
                                    </div>
                                    <div class="displaylineBlock fullWidth fieldWrap">
                                        <button type="submit" value="Login" id="submitbtn" class="btn btn-primary w-100">
                                            Log In
                                            <span ng-hide="LoadingWithText" class="ng-hide" id="LoginButtonLoader">
                                                Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                            </span>
                                        </button>

                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

          </div>
    </div>
    <script type="text/javascript">
        $.validator.unobtrusive.parse($('#frmLogin'));

        ////Disable Back Button In All Browsers.
        //function DisableBackButtonAllBrowsers() {
        //    window.history.forward()
        //};
        //DisableBackButtonAllBrowsers();
        //window.onload = DisableBackButtonAllBrowsers;
        //window.onpageshow = function (evts) { if (evts.persisted) DisableBackButtonAllBrowsers(); };
        //window.onunload = function () { void (0) };
        $("#target").submit(function (event) {
            $("#LoginOverlay").show();
            $("#submitbtn").trigger();
        });
    </script>


</body>
</html>
