@model Eduegate.Web.Library.ViewModels.Common.CRUDMasterDetailViewModel
@using System.Reflection;
@using Eduegate.Framework.Mvc.Attributes;
@using Eduegate.Frameworks.Mvc.Attributes;
@using Eduegate.Framework.Extensions;

<div class="tabletop-section">
    @if (Model.DetailViewModel != null)
    {
        <div class="alignleft">
            <a class="button-orange delete nontexticon" ng-click="DeleteGridItems($event, CRUDModel.Model.DetailViewModel)"><i class="fa fa-trash" aria-hidden="true" title="delete"></i></a>
            @* <a class="button-orange delete nontexticon" ng-click=""><i class="fa fa-download" aria-hidden="true"  title="import"></i></a>*@

            @if (@Model.MasterViewModel.GetType().GetProperty("SearchText") != null)
            {
                <div class="controls">
                    <input type="text" placeholder="Bar Code/Part No" ng-model="CRUDModel.Model.MasterViewModel.SearchText" name="searchText" id="SearchText" ng-keyup="ProductExists($event);" />
                </div>
            }

        </div>
    }

    @if (Model.MasterViewModel.IsSummaryPanel)
    {
        <div class="grid-controls alignright">

            @if ((!(Model.MasterViewModel.ToString().Contains(".Accounts.") || Model.MasterViewModel.ToString().Contains(".AccountTransactions.")) ||
                (Model.MasterViewModel.ToString() == "Eduegate.Web.Library.ViewModels.Inventory.BranchTransferRequestMasterViewModel") ||
                Model.MasterViewModel.ToString() == "Eduegate.Web.Library.ViewModels.Inventory.BranchTransferMasterViewModel"))
            {
                <div class="total alignleft">
                    <span class="caption">@Eduegate.ERP.Admin.Globalization.ResourceHelper.GetValue("Quantity:")</span>

                    <span class="value">{{(CRUDModel.Model.DetailViewModel|sumByKey:'Quantity'| number : 0)}}</span>
                </div>
            }

            @if (Model.MasterViewModel.ToString() == "Eduegate.Web.Library.ViewModels.AccountTransactions.PVRegularPaymentMasterViewModel" ||
                            Model.MasterViewModel.ToString() == "Eduegate.Web.Library.ViewModels.AccountTransactions.RVRegularReceiptMasterViewModel" ||
                            Model.MasterViewModel.ToString() == "Eduegate.Web.Library.ViewModels.AccountTransactions.JVMasterViewModel" ||
                            Model.MasterViewModel.ToString() == "Eduegate.Web.Library.ViewModels.AccountTransactions.RegularCreditMasterViewModel" ||
                            Model.MasterViewModel.ToString() == "Eduegate.Web.Library.ViewModels.AccountTransactions.RegularDebitMasterViewModel")
            {
                <div class="total alignleft">
                    <span class="caption">@Eduegate.ERP.Admin.Globalization.ResourceHelper.GetValue("Amount remain to adjust:")</span>
                    <span class="value">{{(CRUDModel.Model.DetailViewModel|sumByKey:'Debit') - (CRUDModel.Model.DetailViewModel|sumByKey:'Credit') | makePositive}}</span>
                </div>
            }
            else
            if (Model.MasterViewModel.ToString() == "Eduegate.Web.Library.ViewModels.Accounts.ExpenseEntryHeadViewModel")
            {
                <div class="total alignleft">
                    <span class="caption">@Eduegate.ERP.Admin.Globalization.ResourceHelper.GetValue("Amount:")</span>
                    <span class="value">{{(CRUDModel.Model.DetailViewModel|sumByKey:'DebitAmount': -1 * (CRUDModel.Model.MasterViewModel.Discount == null ? 0 : CRUDModel.Model.MasterViewModel.Discount) +  CRUDModel.Model.MasterViewModel.TaxAmount | number : @ViewContext.Controller.ViewBag.DefaultDecimalPoints)}}</span>
                </div>
            }
            else
            if (Model.MasterViewModel.ToString() != "Eduegate.Web.Library.ViewModels.Accounts.AssetMasterViewModel" &&
                            Model.MasterViewModel.ToString() != "Eduegate.Web.Library.ViewModels.Inventory.BranchTransferRequestMasterViewModel" &&
                                 Model.MasterViewModel.ToString() != "Eduegate.Web.Library.ViewModels.Inventory.BranchTransferMasterViewModel")
            {
                <div class="total alignleft">
                    <span class="caption">@Eduegate.ERP.Admin.Globalization.ResourceHelper.GetValue("Amount:")</span>
                    <span class="value">{{(CRUDModel.Model.DetailViewModel|sumByKey:'Amount': ((CRUDModel.Model.MasterViewModel.DeliveryCharge == null ? 0 : CRUDModel.Model.MasterViewModel.DeliveryCharge) +  CRUDModel.Model.MasterViewModel.TaxAmount - (CRUDModel.Model.MasterViewModel.Discount == null ? 0 : CRUDModel.Model.MasterViewModel.Discount)) | number : @ViewContext.Controller.ViewBag.DefaultDecimalPoints)}}</span>
                </div>
            }
        </div>
    }

    @if (Model.DetailViewModel != null)
    {
        <div class="stickygridheader">
            <table cellpadding="0" cellspacing="0" class="listing">
                <thead>
                    <tr>
                        @foreach (var property in Model.DetailViewModel.GetType().GetProperties())
                        {
                            var title = (System.ComponentModel.DisplayNameAttribute)property.GetCustomAttributes(typeof(System.ComponentModel.DisplayNameAttribute)).FirstOrDefault();
                            var controlType = (ControlTypeAttribute)property.GetCustomAttributes(typeof(ControlTypeAttribute)).FirstOrDefault();

                            var claimType = (HasClaimAttribute)property.GetCustomAttributes(typeof(HasClaimAttribute)).FirstOrDefault();

                            if (claimType != null)
                            {
                                var allClaims = (ViewBag.Claims as List<Eduegate.Web.Library.ViewModels.Security.ClaimViewModel>);
                                var allClaimNames = allClaims.Select(a => a.ResourceName).ToList();
                                if (!claimType.HasAccess(allClaimNames))
                                {
                                    continue;
                                }
                            }

                            if (controlType != null && controlType.ControlType == Eduegate.Framework.Enums.ControlTypes.CheckBox)
                            {
                                <th @Html.Raw((string.IsNullOrEmpty(controlType.Css) ? string.Empty : "class=\"" + controlType.Css + "\""))>
                                    <input type="checkbox" class="zoomin" ng-model="CRUDModel.Model.SelectAll" ng-click="SelectAllHeader($event,CRUDModel.Model.DetailViewModel, CRUDModel.Model.SelectAll)" />
                                </th>
                            }
                            else if (title != null && controlType != null)
                            {
                                <th @Html.Raw((string.IsNullOrEmpty(controlType.Css) ? string.Empty : "class=\"" + controlType.Css + "\""))>@title.DisplayName</th>
                            }
                        }
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    }
</div>