
@{
    Layout = null;
}
@{

    var bannerFullPath = "http://erp.eduegate.com/Images/logo/1-logo-blue.png";
    var bannerLink = string.Empty;
    var socialImagePath = string.Empty;
    var logo = string.Empty;
    var imageRootUrl = string.Empty;
    var emailFooter = @"<p style='margin - top:0px; margin - bottom:0px; padding - top:10px; padding - bottom:10px; font - family:Arial; font - size:13px;'>
If you have any questions about your order please contact us at <span style='font-size:16px; font-weight:bold;'>xxxx</span>, (Available from 09.00 AM to 10.00 PM).</p>
<br />
<p style='margin-top:0px; margin-bottom:0px; padding-top:0px; padding-bottom:10px; font-family:Arial; font-size:13px;'>Thank you for shopping at <b><a target='_blank' href='http://www.itradeerp.com/' style='color:#FBA600; text-decoration:none;'>Itrade</a></b>.</p>
<br />";
    var companyUrl = "www.itradeerp.com";
    var companyName = "itrade";
    var facebookId = "itrade";
    var instagramId = "itrade";
    var twitterId = "itrade";
}
@*<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body style="margin:0; padding:0; font-family:Arial; font-size:13px; color:#333333;">
    <table cellpadding="0" cellspacing="0" style="background:#ececec; font-size:13px; width:100%; font-family:Arial;">
        <tr>
            <td align="center" style="padding-left:10px; padding-right:10px; padding-top:10px; padding-bottom:10px;">
                <table cellpadding="0" cellspacing="0" width="600" style="max-width:600px; width:100% !important; border:1px solid #e4e4e4; border-collapse: collapse; border-spacing:0">
                    <tr>
                        <td align="center" bgcolor="#ffffff" style="padding-top:10px; padding-left:10px; padding-right:10px; padding-bottom:10px; border:1px solid #cccccc">
                            <table cellpadding="0" cellspacing="0" width="580" style="max-width:580px; width:100% !important;">
                                @if (!string.IsNullOrEmpty(bannerFullPath))
                                {
                                    <tr>
                                        <td colspan="3" align="center" bgcolor="#f7f7f7" style="padding-top:0px; padding-left:0px; padding-right:0px; padding-bottom:0px; border:1px solid #e4e4e4;">
                                            <a href="@bannerLink" target="_blank"><img width="600" style="max-width:600px; width:100% !important;" src="@bannerFullPath" border="0" /></a>
                                        </td>
                                    </tr>
                                }

                                <tr id="yui_3_16_0_1_1449380216399_222082">
                                    <td style="border-bottom:1px solid #ffffff;">&nbsp;</td>
                                    <td style="border-bottom:1px solid #ffffff;border-left:1px solid #ffffff;">&nbsp;&nbsp;</td>
                                    <td align="left" valign="top" style="border-left:1px solid #ffffff;border-bottom:1px solid #ffffff;border-right:1px solid #ffffff;padding:0 12px;" id="yui_3_16_0_1_1449380216399_222081">


                                        <p style=""color:black;font:normal 15px/22px Arial, Helvetica, sans-serif;" id="yui_3_16_0_1_1449380216399_223370">

                                            You are receiving this e-mail because you requested a password reset for your user account at
                                            <a rel="nofollow" style=""color:black;font:normal 15px/22px Arial, Helvetica, sans-serif;">@companyName.</a>

                                        </p>
                                        <p style=""color:black;font:normal 15px/22px Arial, Helvetica, sans-serif;" id="yui_3_16_0_1_1449380216399_223371">
                                            Please go to the following page and choose a new password:
                                            <a rel="nofollow" style=""color:black;font:normal 15px/22px Arial, Helvetica, sans-serif;" target="_blank" href=@string.Concat(companyUrl + "/Account/ResetPassword/", 50) id="yui_3_16_0_1_1449380216399_223372">@string.Concat(companyUrl + "/Account/ResetPassword/", 50).</a>
                                            <br>
                                        </p><p style=""color:black;font:normal 15px/22px Arial, Helvetica, sans-serif;" id="yui_3_16_0_1_1449380216399_222080">
                                            Best regards,
                                            <strong style="display:block;" id="yui_3_16_0_1_1449380216399_223373">The @companyName Team</strong>
                                        </p>




                                    </td>
                                    <td style="border-right:1px solid #ffffff;border-bottom:1px solid #ffffff;" id="yui_3_16_0_1_1449380216399_226921">&nbsp; &nbsp;</td>
                                    <td style="border-bottom:1px solid #ffffff;">&nbsp;</td>

                                </tr>
                                <tr>
                                    <td align="center" valign="top" height="34" width="202">
                                        <table cellpadding="0" cellspacing="0" style="width:100%;">
                                            <tr>
                                                <td height="17" bgcolor="#f7f7f7" style="border-bottom:1px solid #0092d9;"></td>
                                            </tr>
                                            <tr>
                                                <td height="16" style="border-top:1px solid #0092d9;"></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td align="center" width="176" style="max-width:176px; width:176px;" valign="top">
                                        <table cellpadding="0" cellspacing="0" style="width:100%;">
                                            <tr rowspan="2">
                                                <td height="34" width="44">
                                                    <a href="https://www.facebook.com/@facebookId/">
                                                        <img src="@socialImagePath/facebook.png" alt="facebook" width="44" height="34" border="0" />
                                                    </a>
                                                </td>
                                                <td height="34" width="44">
                                                    <a href="https://twitter.com/@twitterId/">
                                                        <img src="@socialImagePath/twitter.png" alt="twitter" width="44" height="34" border="0" />
                                                    </a>
                                                </td>
                                                <td height="34" width="44">
                                                    <a href="https://www.instagram.com/@instagramId/">
                                                        <img src="@socialImagePath/instagram.png" alt="instagram" width="44" height="34" border="0" />
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td align="center" valign="top" height="34" width="202">
                                        <table cellpadding="0" cellspacing="0" style="width:100%;">
                                            <tr>
                                                <td height="17" bgcolor="#f7f7f7" style="border-bottom:1px solid #0092d9;"></td>
                                            </tr>
                                            <tr>
                                                <td height="16" style="border-top:1px solid #0092d9;"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                @if (!string.IsNullOrEmpty(logo))
                                {
                                    <tr>
                                        <td colspan="3" align="center" bgcolor="#f7f7f7" style="padding-top:10px; padding-left:10px; padding-right:10px; padding-bottom:10px; border:1px solid #e4e4e4;">
                                            <a href="http://@companyUrl/" target="_blank"><img src="@logo" border="0" style="max-width:100%;" /></a>
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td colspan="3" style="padding-top:20px; padding-right:10px; padding-bottom:10px; padding-left:10px; font-size:12px; color:#999999; font-family:Arial" align="center">
                                        <a target="_blank" href="http://@companyUrl/" style="color:#FBA600; text-decoration:none; font-family:Arial;">
                                            @companyName
                                        </a>,
                                        <p style="font-family:Arial;">&copy; @DateTime.Now.Year, @companyName All Rights Reserved.</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>*@


<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>EMail OTP Template</title>
    </head>
    <body style="background: #424242;">
        <div style=" margin: 0px; width: 100%; max-width: 750px; height: 350px; min-height: 500px; background-color: #fbfbfb; position: absolute; margin-bottom: auto; margin-left: auto; margin-top: auto; margin-right: auto; top: 0; left: 0; bottom: 0; right: 0;" align="center">
            <img alt='eduEgate' style="width: 200px;margin-top:1rem;" src="http://erp.eduegate.com/Images/logo/1-logo-blue.png" />
            <div style="width: 100%; height: 10px; border-bottom: thin #b7b9ba solid">
            </div>
            <br />
            <br />
            <div style="font-family: 'Courier New'; font-size: 1.3em;margin:0em 5%;color:#000;">
                HI <b>"{CUSTOMERNAME}"</b>, Welcome to eduegate
                <br />
                <br />
                Your eduegate verification Code<br /><br /><br />
                <strong style="font-size:1.8rem;">829193</strong><br /><br /><br />Don't sahre this code with others.
            </div>
            <div style="width: 100%; height: 10px; border-bottom: thin #b7b9ba solid; bottom: 85px;
            position: absolute">
            </div>
            <br />
            <div style="width: 100%; font-size: .8em; font-family: Verdana, Geneva, Tahoma, sans-serif;
            border-bottom: thin #b7b9ba solid; bottom: 20px; position: absolute">
                <div class="copyrightdiv">
                    Copyright &copy; {YEAR} <a style="text-decoration: none" target="_blank" href="http://www.wearefresh.in">
                        <span style="color: #dd2224; font-weight: bold;">eduegate.COM</span>
                    </a>
                </div>
                <div class="PoweredBy">
                    Powered By: <a style="text-decoration: none; color: #6f5a05;" id="ociuz" href="https://softopsolutionpvtltd.com/"
                                   target="_blank">SOFTOP SOLUTIONS PVT LTD</a>
                </div>
                <br />
                <a href="https://www.facebook.com/@facebookId/">
                    <img src="@socialImagePath/facebook.png" alt="facebook" width="44" height="34" border="0" />
                </a>
                <a href="https://twitter.com/@twitterId/">
                    <img src="@socialImagePath/twitter.png" alt="twitter" width="44" height="34" border="0" />
                </a>
                <a href="https://www.instagram.com/@instagramId/">
                    <img src="@socialImagePath/instagram.png" alt="instagram" width="44" height="34" border="0" />
                </a>
            </div>
        </div>
    </body>
    </html>
