@{
    Layout = "~/Views/Shared/_LayoutPayment.cshtml";
    ViewBag.Title = "MastercardPayment";
    var MasterVisaData = ViewBag.MasterVisaDatas;
}

<!DOCTYPE html>

<html>
<head>  

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="@MasterVisaData.MerchantCheckoutJS"
            data-error="errorCallback"
            data-cancel="cancelCallback"
            data-complete="completeCallback"
            data-beforeRedirect="Checkout.saveFormFields"
            data-afterRedirect="Checkout.restoreFormFields">
    </script>

    <script type="text/javascript">

        function errorCallback(error) {
            var errorMessage = JSON.stringify(error);
            window.location.replace(utility.myHost + "PaymentGateway/Fail?errorMessage=" + errorMessage);
        }

        function cancelCallback() {
            window.location.replace(utility.myHost + "PaymentGateway/Cancel");
        }

		function completeCallback() {
            window.location.replace(utility.myHost + "PaymentGateway/Validate");
        }

        Checkout.configure({
            session: {
                id: "@MasterVisaData.BankSession"
            }
        });

        // Checkout.configure(
        //     {
        //         merchant: "@MasterVisaData.MerchantID",
        //         session: {
        //             id: "@MasterVisaData.BankSession"
        //         },
        //         order:
        //         {
        //             amount: function () {
        //                 //Dynamic calculation of amount
        //                 return @MasterVisaData.PaymentAmount;
        //             },
        //             currency: "@MasterVisaData.PaymentCurrency",
        //             description: "@MasterVisaData.OrderDescription",
        //             id: function () { return @MasterVisaData.CustomerID; },//Dynamic order id for testing
        //             reference: function () { return @MasterVisaData.TransID; }
        //         },

        //         interaction:
        //         {
        //             merchant:
        //             {
        //                 name: "@MasterVisaData.MerchantName",
        //                 logo: "@MasterVisaData.MerchantLogoURL"
        //             },
        //             operation: "PURCHASE",
        //             displayControl: {
        //                 billingAddress: "HIDE",
        //                 paymentConfirmation: "HIDE",
        //                 shipping: "HIDE"
        //             }
        //         }
        //     });

    </script>

    <style>
        html, body {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .standalone {
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
        }

        .logo img {
            max-width: 100px;
        }
    </style>

</head>
<body>
    <div class="standalone">
        <div class="">
            <img src="~/img/PODARLOGO-01.png" />
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            Checkout.showPaymentPage();
        });

    </script>

</body>
</html>