@using Eduegate.Services.Contracts.Enums

@{
    Layout = null;
    var viewIID = Eduegate.Services.Contracts.Enums.SearchView.SalesReturn;
    var windowName = "window_" + Guid.NewGuid().ToString();
}

<div id="@windowName" class="summary-wrap" ng-controller="SummaryViewController" ng-init="SummaryViewInit('@windowName', '@viewIID', @ViewBag.IID,'@DynamicViews.SalesReturn');">
    <div class="preload-overlay" style="display:block;">
        <div class="preloader">
            <img src="/Images/preloader.GIF" width="32" height="32" alt="Loading" />
            <div class="loadertextwrap">
                <div id="Loadertext">
                    <div id="fadetext_1" class="loadingtext">L</div>
                    <div id="fadetext_2" class="loadingtext">o</div>
                    <div id="fadetext_3" class="loadingtext">a</div>
                    <div id="fadetext_4" class="loadingtext">d</div>
                    <div id="fadetext_5" class="loadingtext">i</div>
                    <div id="fadetext_6" class="loadingtext">n</div>
                    <div id="fadetext_7" class="loadingtext">g</div>
                    <div id="fadetext_8" class="loadingtext">.</div>
                    <div id="fadetext_9" class="loadingtext">.</div>
                    <div id="fadetext_10" class="loadingtext">.</div>
                </div>
                <span class="canceloperation" ng-click="CloseSummaryPanel($event);">Cancel</span>
            </div>
        </div>
    </div>

    <div class="summary-header">
        <div class="summary-controls">
            <ul class="summary-tab">
                    <li class="summary-tab-list active" title="Product Detail" content-tab="productdetail"><i class="fa fa-file-text"></i></li>
                        @*<li class="summary-tab-list" title="Sales" content-tab="sales"><i class="fa fa-bar-chart"></i></li>
                        <li class="summary-tab-list" title="Purchase" content-tab="purchase"><i class="fa fa-shopping-cart"></i></li>
                        <li class="summary-tab-list" title="Inventory" content-tab="inventory"><i class="fa fa-cube"></i></li>
                        <li class="summary-tab-list" title="Operation" content-tab="operation"><i class="fa fa-cogs"></i></li>
                        <li class="summary-tab-list" title="Accounts" content-tab="accounts"><i class="fa fa-list-alt"></i></li>*@
                <li class="summary-tab-list" title="Comments" content-tab="comments"><i class="fa fa-comments"></i></li>
                </ul>
            <div class="alignright panelcontrols">
                <span class="remove" ng-click="CloseSummaryPanel($event);">x</span>
                <span class="minmax"></span>
            </div>
        </div>
    </div>
    <div class="quickviewwrap">
        <div id="productdetail" class="summarytab-content first">
            <h4>Sales Return Details</h4>
            <div class="summary-tab-inner">
                <div class="summary-content">
                    <div class="label-value-box">
                        <div class="label-value-box-inner">
                            <span class="label-style">ID</span>
                            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.SalesReturn).HeadIID"></span>
                            <i class="fa fa-pencil" title="Edit" ng-click="Edit('SalesReturn', ViewModels.@(DynamicViews.SalesReturn).HeadIID)"></i>
                            <i class="fa fa-file-text" title="Report" ng-click="Print($event,'@viewIID','@viewIID Print Preview','%2fEduegate.Inventory.Reports%2f@(DynamicViews.SalesReturn)', ViewModels.@(DynamicViews.SalesReturn).HeadIID);"></i>
                            <i class="fa fa-print" title="Print" ng-click="PrintTransaction($event,'@viewIID','@viewIID Print Preview','%2fEduegate.Inventory.Reports%2f@(DynamicViews.SalesReturn)', ViewModels.@(DynamicViews.SalesReturn).HeadIID);"></i>
                        </div>
                        <div class="label-value-box-inner">
                            <span class="label-style">Sales Return Number</span>
                            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.SalesReturn).TransactionNo"></span>
                        </div>
                        <div class="label-value-box-inner">
                            <span class="label-style">Branch</span>
                            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.SalesReturn).BranchName"></span>
                        </div>
                        <div class="label-value-box-inner">
                            <span class="label-style">Document</span>
                            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.SalesReturn).TransactionTypeName"></span>
                        </div>
                        <div class="label-value-box-inner">
                            <span class="label-style">Entitlement</span>
                            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.SalesReturn).EntitlementName"></span>
                        </div>
                        <div class="label-value-box-inner">
                            <span class="label-style">Delivery Type</span>
                            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.SalesReturn).DeliveryMethod"></span>
                        </div>
                        <div class="label-value-box-inner">
                            <span class="label-style">Date</span>
                            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.SalesReturn).TransactionDate"></span>
                        </div>
                        <div class="label-value-box-inner">
                            <span class="label-style">Currency</span>
                            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.SalesReturn).CurrencyName"></span>
                        </div>
                        <div class="label-value-box-inner">
                            <span class="label-style">Sales Man</span>
                            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.SalesReturn).EmployeeName"></span>
                        </div>
                        <div class="label-value-box-inner">
                            <span class="label-style">Delivery Date</span>
                            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.SalesReturn).DeliveryDate"></span>
                        </div>
                        <div class="label-value-box-inner">
                            <span class="label-style">Created</span>
                            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.SalesReturn).CreatedDate"></span>
                        </div>
                        <div class="label-value-box-inner">
                            <span class="label-style">Updated</span>
                            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.SalesReturn).UpdatedDate"></span>
                        </div>
                    </div>
                </div>

                <div class="summary-toggle">
                    <div class="sum_toggleheader" ng-click="GetDynamicView('@DynamicViews.Customer', ViewModels.@(DynamicViews.SalesReturn).CustomerID, false, $event)">
                    Customer Details - <span class="link-content" ng-bind="ViewModels.@(DynamicViews.SalesReturn).Customer"></span> </div>

                    @{
                        await Html.RenderPartialAsync("_CustomerDetails");
                    }
                </div>

                <div class="summary-toggle">
                    <div class="sum_toggleheader" ng-click="GetDynamicViewGrid('@DynamicViews.PurchaseSKUMaps', ViewModels.@(DynamicViews.SalesReturn).HeadIID, false, $event)">Product Details</div>
                    <div class="sum_togglecontent">
                        <table class="data-grid">
                            <thead>
                                <tr>
                                    <th>SKUName</th>
                                    <th>Quantity</th>
                                    <th>unitPrice</th>
                                    <th>BarCode</th>
                                    <th>PartNumber</th>
                                    @*<th>Created</th>
                                     <th>SKUId</th>
                                    <th>Updated</th>*@
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="grid in ViewModels.@(DynamicViews.PurchaseSKUMaps)">
                                    <td><span ng-bind="grid.SKU"></span></td>
                                    <td><span ng-bind="grid.Quantity"></span></td>
                                    <td><span ng-bind="grid.UnitPrice"></span></td>
                                    <td><span ng-bind="grid.Barcode"></span></td>
                                    <td><span ng-bind="grid.PartNo"></span></td>
                                    @*<td > <span ng-bind="grid.CreatedDate"></span> </td>
                                    <td ><span ng-bind="grid.UpdatedDate"></span> </td>*@

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="comments" class="summarytab-content">
            <div class="summary-tab-inner">
                @*@await Html.PartialAsync("~/Views/Mutual/Comment.cshtml", new Eduegate.Web.Library.ViewModels.CommentViewModel() { EntityType = Eduegate.Services.Contracts.Enums.EntityTypes.Ticket, ReferenceID = ViewBag.IID })*@
                @{
                    //TODO: Check later
                    // Html.RenderAction("Comment", "Mutual", new { area = "", type = Eduegate.Services.Contracts.Enums.EntityTypes.Transaction, referenceID = ViewBag.IID });
                }
            </div>
        </div>
        </div>
</div>
<script>
    $(document).ready(function () {
        $('#@windowName .summary-panel .remove').on('click', function () {
            $('.pagecontent', '#@windowName').removeClass('summaryview');
        });

        $('#@windowName .summary-toggle .sum_toggleheader').on('click', function () {
            $(this).parent().toggleClass('show');

            if ($(this).parent().hasClass('show')) {
                $(this).parent().addClass('show');
                $(this).parent().find('.sum_togglecontent').slideDown('fast');
            }
            else {
                $(this).parent().removeClass('show');
                $(this).parent().find('.sum_togglecontent').slideUp('fast');
            }
        });

        $('#@windowName .summarytab-content.first').show();

        $('#@windowName .summary-tab .summary-tab-list').on('click', function () {
            $('.summary-tab-list', '#@windowName').removeClass('active');
            $('.summarytab-content', '#@windowName').hide();
            $(this).addClass('active');
            $('#' + $(this).attr('content-tab'), '#@windowName').fadeIn('medium');
        });
    });
</script>
