<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.css" />
    <link rel="stylesheet" href="~/Content/daterangepicker.css" />
    <link rel="stylesheet" href="~/Content/Select.css" />
    <link rel="stylesheet" href="~/Content/Select2.css" />
    <link rel="stylesheet" href="~/Content/dropdownsearch.css" />
    <link rel="stylesheet" href="~/Content/jquery-ui.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/Content/default.css" />
    <link rel="stylesheet" href="~/Content/jquery.datetimepicker.min.css" />
    <link rel="stylesheet" href="~/Content/materialize.min.css" />
    <link rel="stylesheet" href="~/Content/datetimepicker.css" />
    <link rel="stylesheet" href="~/Content/prettyPhoto.css" />
    <link rel="stylesheet" href="~/Content/ng-weekly-scheduler.css" />
    <link rel="stylesheet" href="~/Content/c3.min.css" />
    <link rel="stylesheet" href="~/Content/angular-bootstrap-calendar.min.css" />
    <link rel="stylesheet" href="~/Content/angular-round-progress-bar.min.css" />
    <link rel="stylesheet" href="~/Content/eduegate-scheduler.css" />
    <link rel="stylesheet" href="~/Content/calendar-heatmap.css" />
    <link rel="stylesheet" href="~/Content/cropper.min.css" />
    <link rel="stylesheet" href="~/Content/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="~/Content/viewer.css" />
    <link rel="stylesheet" href="~/Content/jquery-bootstrap-datepicker.css" />
    <link rel="stylesheet" href="~/Content/jkanban.min.css" />
    <link rel="stylesheet" href="~/Content/modal-popup.css" />

    <script src="~/Scripts/modernizr-*"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-{version}.js"></script>
    <script src="~/Scripts/jquery.prettyPhoto.js"></script>
    <script src="~/Scripts/draggable/draggable.bundle.min.js"></script>

    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <script src="~/Scripts/respond.js"></script>
    <script src="~/Scripts/jquery.steps.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>