@using Eduegate.Services.Contracts.Enums

@{
    Layout = null;
    var viewIID = Eduegate.Services.Contracts.Enums.SearchView.BundleWrap;
    var windowName = "window_" + Guid.NewGuid().ToString();
}


<div id="@windowName" class="summary-wrap" ng-controller="OrderDeliveryDetailController" ng-init="SummaryViewInit('@windowName', '@viewIID', @ViewBag.IID,'@DynamicViews.BundleWrap');">
    <div class="preload-overlay" style="display:block;">
        <div class="preloader">
            <img src="/Images/preloader.GIF" width="32" height="32" alt="Loading" />
            <div class="loadertextwrap">
                <div id="Loadertext">
                    <div id="fadetext_1" class="loadingtext">L</div>
                    <div id="fadetext_2" class="loadingtext">o</div>
                    <div id="fadetext_3" class="loadingtext">a</div>
                    <div id="fadetext_4" class="loadingtext">d</div>
                    <div id="fadetext_5" class="loadingtext">i</div>
                    <div id="fadetext_6" class="loadingtext">n</div>
                    <div id="fadetext_7" class="loadingtext">g</div>
                    <div id="fadetext_8" class="loadingtext">.</div>
                    <div id="fadetext_9" class="loadingtext">.</div>
                    <div id="fadetext_10" class="loadingtext">.</div>
                </div>
                <span class="canceloperation" ng-click="CloseSummaryPanel($event);">Cancel</span>
            </div>
        </div>
    </div>

    <div class="summary-header">
        <div class="summary-controls">
            <ul class="summary-tab">
                <li class="summary-tab-list active" title="Product Detail" content-tab="productdetail"><i class="fa fa-file-text"></i></li>
                @*<li class="summary-tab-list" title="Wrap" content-tab="Wrap"><i class="fa fa-bar-chart"></i></li>
                    <li class="summary-tab-list" title="Purchase" content-tab="purchase"><i class="fa fa-shopping-cart"></i></li>
                    <li class="summary-tab-list" title="Inventory" content-tab="inventory"><i class="fa fa-cube"></i></li>*@
                <li class="summary-tab-list" title="Customer Details" content-tab="CustomerDetails"><i class="fa fa-group"></i></li>
                <li class="summary-tab-list" title="Delivery Details" content-tab="DeliveryDetails"><i class="fa fa-truck"></i></li>
                <li class="summary-tab-list" title="Comments" content-tab="comments"><i class="fa fa-comments"></i></li>
            </ul>
            <div class="alignright panelcontrols">
                <span class="remove" ng-click="CloseSummaryPanel($event);">x</span>
                <span class="minmax"></span>
            </div>
        </div>
    </div>
    <div class="quickviewwrap">
        <div id="productdetail" class="summarytab-content first">
            <h4>Bundle Wrap Details</h4>
            <div class="summary-tab-inner">
                <div class="summary-content">
                    <div class="label-value-box">
                        <div class="label-value-box-inner">
                            <span class="label-style">ID</span>
                            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.BundleWrap).HeadIID"></span>
                            <i class="fa fa-pencil" title="Edit" ng-click="Edit('BundleWrap', ViewModels.@(DynamicViews.BundleWrap).HeadIID)"></i>
                            <i class="fa fa-file-text" title="Report" ng-click="Print($event,'@(DynamicViews.BundleWrap)Preview','@viewIID Print Preview','%2fEduegate.Inventory.Reports%2f@(DynamicViews.BundleWrap)Preview', ViewModels.@(DynamicViews.BundleWrap).HeadIID);"></i>
                            <i class="fa fa-print" title="Print" ng-click="PrintTransaction($event,'@(DynamicViews.BundleWrap)Preview','@viewIID Print Preview','%2fEduegate.Inventory.Reports%2f@(DynamicViews.BundleWrap)Preview', ViewModels.@(DynamicViews.BundleWrap).HeadIID);"></i>
                        </div>
                        <div class="label-value-box-inner">
                            <span class="label-style"> Bundle Wrap Number</span>
                            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.BundleWrap).TransactionNo"></span>
                        </div>
                        <div class="label-value-box-inner">
                            <span class="label-style">Branch</span>
                            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.BundleWrap).BranchName"></span>
                        </div>
                        <div class="label-value-box-inner">
                            <span class="label-style">Document</span>
                            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.BundleWrap).TransactionTypeName"></span>
                        </div>
                        <div class="label-value-box-inner">
                            <span class="label-style">Date</span>
                            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.BundleWrap).TransactionDate"></span>
                        </div>
                        <div class="label-value-box-inner">
                            <span class="label-style">Currency</span>
                            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.BundleWrap).CurrencyName"></span>
                        </div>
                    </div>

                    <div class="label-value-box">
                        <div class="label-value-box-inner">
                            <span class="label-style">Created</span>
                            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.BundleWrap).UpdatedByforBundleWrap"></span>
                        </div>
                        <div class="label-value-box-inner">
                            <span class="label-style">Updated</span>
                            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.BundleWrap).UpdatedDate"></span>
                        </div>
                        <div class="label-value-box-inner">
                            <span class="label-style">From</span>
                            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.BundleWrap).From"></span>
                        </div>
                        <div class="label-value-box-inner">
                            <span class="label-style">Created By</span>
                            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.BundleWrap).UpdatedBy"></span>
                        </div>
                    </div>

                    <div class="label-value-box">
                        <div class="label-value-box-inner">
                            <span class="label-style">Document Status</span>
                            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.BundleWrap).DocumentStatus"></span>
                        </div>
                        <div class="label-value-box-inner">
                            <span class="label-style">Processing Status</span>
                            <span class="link-content" ng-bind="ViewModels.@(DynamicViews.BundleWrap).TransactionStatus"></span>
                            <div ng-show="ViewModels.@(DynamicViews.BundleWrap).TransactionStatus == 'Failed'" class="fa fa-undo reprocess-icon alignright" title="Reprocessing"
                                 ng-click="UpdateProcessingStatus(ViewModels.@(DynamicViews.BundleWrap),'BundleWrap', $event)"></div>
                            @*<div ng-show="ViewModels.@(DynamicViews.BundleWrap).TransactionStatus == 'Failed'" class="fa fa-map-marker fa-4x" title="Reprocessing"  ng-click="ProcessingStatus()"></div>*@
                        </div>
                        @*<div class="popup alertwindow" id="ProcessingStatus">
                                <div class="popup-wrap">
                                    <div class="productcreteheader">Reset Process</div>
                                    <div class="fullwidth-column alignleft textcenter">
                                        <a class="button-orange" ng-click="UpdateProcessingStatus(ViewModels.@(DynamicViews.BundleWrap),'BundleWrap', $event)">Yes</a>
                                        <a class="button-orange cancel" ng-click="CloseProcessingPopup();">No</a>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>



                <div class="summary-toggle">
                    <div class="sum_toggleheader" ng-click="GetDynamicViewGrid('@DynamicViews.PurchaseSKUMaps', ViewModels.@(DynamicViews.BundleWrap).HeadIID, false, $event)">Product Details</div>
                    <div class="sum_togglecontent">
                        <table class="data-grid">
                            <thead>
                                <tr>

                                    <th>SKU</th>
                                    <th>Quantity</th>
                                    <th>UnitPrice</th>
                                    <th>BarCode</th>
                                    <th>PartNumber</th>
                                    @*<th>Created</th>
                                        <th>Updated</th>*@
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="grid in ViewModels.@(DynamicViews.PurchaseSKUMaps)">
                                    <td><span ng-bind="grid.SKU"></span></td>
                                    <td><span ng-bind="grid.Quantity"></span></td>
                                    <td><span ng-bind="grid.UnitPrice"></span></td>
                                    <td><span ng-bind="grid.Barcode"></span></td>
                                    <td><span ng-bind="grid.PartNo"></span> </td>
                                    @*<td > <span ng-bind="grid.CreatedDate"></span> </td>
                                        <td ><span ng-bind="grid.UpdatedDate"></span> </td>*@

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="summary-toggle">
                    <div class="sum_toggleheader" ng-click="GetDynamicViewGrid('@DynamicViews.TransactionCartDetails', ViewModels.@(DynamicViews.BundleWrap).HeadIID, false, $event)">Cart Details</div>
                    <div class="sum_togglecontent">
                        <table class="data-grid">
                            <thead>
                                <tr>
                                    <th>Cart ID</th>
                                    <th>Transaction No</th>
                                    <th>Customer ID</th>
                                    <th>Job Status</th>
                                    @*<th>Delivery Status</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="grid in ViewModels.@(DynamicViews.TransactionCartDetails)">
                                    <td><span ng-bind="grid.ShoppingCartID"></span></td>
                                    <td><span ng-bind="grid.TransactionNo"></span></td>
                                    <td><span ng-bind="grid.CustomerID"></span></td>
                                    <td><span ng-bind="grid.JobStatus"></span></td>
                                    @*<td><span ng-bind="grid.DeliveryStatus"></span></td>*@
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="summary-toggle">
                    <div class="sum_toggleheader" ng-click="GetDynamicViewGrid('@DynamicViews.TransactionComments', ViewModels.@(DynamicViews.BundleWrap).HeadIID, false, $event)">Comments</div>
                    <div class="label-value-box" ng-repeat="comment in ViewModels.@(DynamicViews.TransactionComments)">
                        <span class="link-content" ng-bind-html="comment.Comment1"></span>
                    </div>
                </div>

                <div class="summary-toggle">
                    <div class="sum_toggleheader" ng-click="GetDynamicViewGrid('@DynamicViews.TransactionInvoiceDetails', ViewModels.@(DynamicViews.BundleWrap).HeadIID, false, $event)">Sales Invoices Status</div>
                    <div class="sum_togglecontent">
                        <table class="data-grid">
                            <thead>
                                <tr>
                                    <th>Invoice ID</th>
                                    <th>Document Status</th>
                                    <th>Processing Status</th>
                                    @*<th>Delivery Status</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="grid in ViewModels.@(DynamicViews.TransactionInvoiceDetails)">
                                    <td><span ng-bind="grid.InvoiceID"></span></td>
                                    <td><span ng-bind="grid.DocumentStatus"></span></td>
                                    <td>
                                        <span ng-bind="grid.ProcessingStatus"></span>
                                        <div ng-show="grid.ProcessingStatus == 'Failed'"class="fa fa-undo alignright" title="Reprocessing" ng-click="UpdateProcessingStatus(grid, 'salesinvoice', $event)"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="comments" class="summarytab-content">
            <div class="summary-tab-inner">
                @*@await Html.PartialAsync("~/Views/Mutual/Comment.cshtml", new Eduegate.Web.Library.ViewModels.CommentViewModel() { EntityType = Eduegate.Services.Contracts.Enums.EntityTypes.Ticket, ReferenceID = ViewBag.IID })*@
                @{
                    //TODO: Check later
                    // Html.RenderAction("Comment", "Mutual", new { area = "", type = Eduegate.Services.Contracts.Enums.EntityTypes.Transaction, referenceID = ViewBag.IID });
                }
            </div>
        </div>
        @*<div id="CustomerDetails" class="summarytab-content">
            <div class="summary-toggle">
                <div class="sum_toggleheader" ng-click="GetDynamicView('@DynamicViews.Customer', ViewModels.@(DynamicViews.BundleWrap).CustomerID, false, $event)">Customer Details - <span class="link-content" ng-bind="ViewModels.@(DynamicViews.BundleWrap).Customer"></span> </div>

                @{
                    await Html.RenderPartialAsync("_CustomerDetails");
                }
            </div>
        </div>*@
        <!--<div id="DeliveryDetails" class="summarytab-content">
            <div class="summary-toggle">
                <div class="sum_toggleheader" ng-click="ShowDeliveryDetails('@DynamicViews.DeliveryDetails', ViewModels.@(DynamicViews.BundleWrap).HeadIID, 'googleMapDiv', false, $event)">Delivery Details</div>
                <div class="sum_togglecontent">
                    <div class="label-value-box-inner">
                        <span class="label-style">Contact Person</span>
                        <span class="link-content" ng-bind="ViewModels.@(DynamicViews.DeliveryDetails).FirstName"></span>
                    </div>
                    <div class="label-value-box-inner">
                        <span class="label-style">Phone Number</span>
                        <span class="link-content" ng-bind="ViewModels.@(DynamicViews.DeliveryDetails).MobileNo1"></span>
                    </div>
                    <div class="label-value-box-inner">
                        <span class="label-style">Billing Address</span>
                        <span class="link-content" ng-bind="ViewModels.@(DynamicViews.DeliveryDetails).IsBillingAddress"></span>
                    </div>
                    <div class="label-value-box-inner">
                        <span class="label-style">Shipping Address</span>
                        <span class="link-content" ng-bind="ViewModels.@(DynamicViews.DeliveryDetails).IsShippingAddress"></span>
                    </div>
                    <div class="label-value-box-inner">
                        <span class="label-style">AWB No</span>
                        <span class="link-content" ng-bind="ViewModels.@(DynamicViews.DeliveryDetails).AWBNo"></span>
                    </div>
                    <div class="label-value-box-inner">
                        <span class="label-style">Service Provider</span>
                        <span class="link-content" ng-bind="ViewModels.@(DynamicViews.DeliveryDetails).ProviderName"></span>
                    </div>
                    <div class="label-value-box-inner">
                        <span class="label-style">Delivery Status</span>
                        <span class="link-content" ng-bind="ViewModels.@(DynamicViews.DeliveryDetails).DeliveryStatus"></span>
                    </div>-->
                    @*<div class="label-value-box-inner">
                            <span class="label-style">Signature</span>
                            <span class="link-content">-</span>
                        </div>*@
                    <!--<div id="googleMapDiv" style="height: 350px;"></div>
                </div>
            </div>
            <div class="summary-toggle">
                <div class="sum_toggleheader" ng-click="Init(ViewModels.@(DynamicViews.BundleWrap).HeadIID)"--> @*ng-click="GetDeliveryDetails(ViewModels.@(DynamicViews.BundleWrap).HeadIID)"*@<!-->Edit Delivery Details</div>
                <div class="sum_togglecontent">
                    <div class="fullwidth alignleft textright paddingbtm5">
                        <input type="button" value="Save" class="button-orange" ng-click="SaveDeliveryDetails(OrderDeliveryDetailViewModel);" />
                    </div>
                    <div class="label-value-box-inner">
                        <span class="label-style">ID</span>
                        <span class="link-content"><label ng-bind="OrderDeliveryDetailViewModel.HeadIID" /></span>
                    </div>
                    <div class="label-value-box-inner">
                        <span class="label-style fontbold">Delivery Option</span>
                        <span class="link-content">
                            <select name="DeliveryTypeID" ng-model="OrderDeliveryDetailViewModel.DeliveryTypeID">
                                <i class="fa fa-caret-down"></i>
                                <option ng-repeat="type in deliveryTypes" ng-selected="type.Key == OrderDeliveryDetailViewModel.DeliveryTypeID" value="{{type.Key}}">{{type.Value}}</option>
                            </select>
                        </span>
                    </div>
                    <div class="label-value-box-inner">
                        <label class="label-style fontbold">Delivery Date</label>
                        <div class="dp-date">
                            <div class="datetime_picker">
                                <input type="text" id="DeliveryDate" ng-model="OrderDeliveryDetailViewModel.DeliveryDate" class="dpicker form-control" datetimepicker />
                            </div>
                        </div>
                    </div>
                    <div class="label-value-box-inner">
                        <span class="label-style fontbold">Mobile No</span>
                        <span class="link-content"><input ng-model="OrderDeliveryDetailViewModel.DeliveryDetails.MobileNo"></span>
                    </div>
                    <div class="label-value-box-inner">
                        <span class="label-style">Country</span>
                        <span id="spanCountryList" class="inputwrap">
                            <ui-select id="CountryList" theme="select2" class="pos-txt" style="width:400px; height:26px;" ng-model="OrderDeliveryDetailViewModel.DeliveryDetails.Country" ng-change="GetCityByCountryID(OrderDeliveryDetailViewModel.DeliveryDetails.Country.Key)">
                                <ui-select-match placeholder="Search Country">{{$select.selected.Value}}</ui-select-match>
                                <ui-select-choices repeat="country in Countries | filter:$select.search">{{country.Value}}</ui-select-choices>
                            </ui-select>
                        </span>
                    </div>
                    <div class="label-value-box-inner">
                            <span class="label-style">City</span>
                            <span id="spanCityList" class="inputwrap">
                                <ui-select id="CityList" theme="select2" class="pos-txt" style="width:400px; height:26px;" ng-model="OrderDeliveryDetailViewModel.DeliveryDetails.City" ng-change="GetAreaByCityID(OrderDeliveryDetailViewModel.DeliveryDetails.City.Key)">
                                    <ui-select-match placeholder="Search City">{{$select.selected.Value}}</ui-select-match>
                                    <ui-select-choices repeat="city in Cities | filter:$select.search">{{city.Value}}</ui-select-choices>
                                </ui-select>
                            </span>
                        </div>
                    <div class="label-value-box-inner">
                        <span class="label-style">Area</span>
                        <span id="spanAreaList" class="inputwrap">
                            <ui-select id="AreaList" theme="select2" class="pos-txt" style="width:400px; height:26px;" ng-model="OrderDeliveryDetailViewModel.DeliveryDetails.Area" >
                                <ui-select-match placeholder="Search Area">{{$select.selected.Value}}</ui-select-match>
                                <ui-select-choices repeat="area in Areas | filter:$select.search">{{area.Value}}</ui-select-choices>
                            </ui-select>
                        </span>
                    </div>
                    <div class="label-value-box-inner">
                        <span class="label-style">Block</span>
                        <span class="link-content"><input ng-model="OrderDeliveryDetailViewModel.DeliveryDetails.Block"></span>
                    </div>
                    <div class="label-value-box-inner">
                        <span class="label-style fontbold">Avenue</span>
                        <span class="link-content"><input ng-model="OrderDeliveryDetailViewModel.DeliveryDetails.Avenue"></span>
                    </div>
                    <div class="label-value-box-inner">
                        <label class="label-style fontbold">Street</label>
                        <span class="link-content"><input ng-model="OrderDeliveryDetailViewModel.DeliveryDetails.Street"></span>
                    </div>
                    <div class="label-value-box-inner">
                        <label class="label-style fontbold">Building No</label>
                        <span class="link-content"><input ng-model="OrderDeliveryDetailViewModel.DeliveryDetails.BuildingNo"></span>
                    </div>
                    <div class="label-value-box-inner">
                        <span class="label-style fontbold">Flat</span>
                        <span class="link-content"><input ng-model="OrderDeliveryDetailViewModel.DeliveryDetails.FlatNo"></span>
                    </div>
                    <div class="label-value-box-inner">
                        <span class="label-style fontbold">Land Mark</span>
                        <span class="link-content"><input ng-model="OrderDeliveryDetailViewModel.DeliveryDetails.LandMark"></span>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#@windowName .summary-panel .remove').on('click', function () {
            $('.pagecontent', '#@windowName').removeClass('summaryview');
        });

        $('#@windowName .summary-toggle .sum_toggleheader').on('click', function () {
            $(this).parent().toggleClass('show');

            if ($(this).parent().hasClass('show')) {
                $(this).parent().addClass('show');
                $(this).parent().find('.sum_togglecontent').slideDown('fast');
            }
            else {
                $(this).parent().removeClass('show');
                $(this).parent().find('.sum_togglecontent').slideUp('fast');
            }
        });

        $('#@windowName .summarytab-content.first').show();

        $('#@windowName .summary-tab .summary-tab-list').on('click', function () {
            $('.summary-tab-list', '#@windowName').removeClass('active');
            $('.summarytab-content', '#@windowName').hide();
            $(this).addClass('active');
            $('#' + $(this).attr('content-tab'), '#@windowName').fadeIn('medium');
        });
    });
</script>
