@model Eduegate.Web.Library.ViewModels.DataFeedViewModel
@{
    Layout = null;
    string divID = string.Concat("divUploadProgress", Model.DataFeedID.ToString());
}

@switch (Model.StatusID)
{
    case Eduegate.Services.Contracts.Enums.DataFeedStatus.InProcess:

        <div id="@divID" class="importedfiles process">
            <div class="import-title">@Model.FeedName</div>
            <div class="import-inner">
                <div class="import_file_name"><img src="/Images/excel.png" alt="Excel Icon" />@Model.FeedFileName</div>
                <div class="progressbar process"></div>
                <div class="importstatus"></div>
                <div class="viewlog button-orange popupbtn" data-popup-type="viewlogmsg">View Log</div>
            </div>
        </div>


        break;

    case Eduegate.Services.Contracts.Enums.DataFeedStatus.Success:

    <div id="@divID" class="importedfiles success">
        <div class="import-title">@Model.FeedName</div>
        <div class="import-inner">
            <div class="import_file_name"><img src="/Images/excel.png" alt="Excel Icon" />@Model.FeedFileName</div>
            <div class="viewlog button-orange popupbtn" data-popup-type="viewlogmsg">View Log</div>
        </div>
    </div>

        break;

    case Eduegate.Services.Contracts.Enums.DataFeedStatus.Failed:

    <div id="@divID" class="importedfiles error">
        <div class="import-title">@Model.FeedName</div>
        <div class="import-inner">
            <div class="import_file_name"><img src="/Images/excel.png" alt="Excel Icon" />@Model.FeedFileName</div>
            <div class="importstatus">Not able to import the file due to some errors.</div>
            <div class="viewlog button-orange popupbtn" data-popup-type="viewlogmsg">View Log</div>
        </div>
    </div>

        break;
}


@*<div class="importedfiles">
        <div class="import_file_name"><img src="/Images/excel.png" alt="Excel Icon" /> Document.xlsx</div>
        <div class="progressbar process"></div>
        <div class="importstatus"></div>
        <div class="viewlog button-orange popupbtn" data-popup-type="viewlogmsg">View Log</div>
    </div>

    <div class="importedfiles sucess">
        <div class="import_file_name"><img src="/Images/excel.png" alt="Excel Icon" /> Document.xlsx</div>
        <div class="progressbar"></div>
        <div class="importstatus"></div>
        <div class="viewlog button-orange popupbtn" data-popup-type="viewlogmsg">View Log</div>
    </div>

    <div class="importedfiles error">
        <div class="import_file_name"><img src="/Images/excel.png" alt="Excel Icon" /> Document.xlsx</div>
        <div class="progressbar"></div>
        <div class="importstatus">Not able to import the file due to some errors.</div>
        <div class="viewlog button-orange popupbtn" data-popup-type="viewlogmsg">View Log</div>
    </div>

    <div class="importedfiles partial">
        <div class="import_file_name"><img src="/Images/excel.png" alt="Excel Icon" /> Document.xlsx</div>
        <div class="progressbar"></div>
        <div class="importstatus">Files are partially imported </div>
        <div class="viewlog button-orange popupbtn" data-popup-type="viewlogmsg">View Log</div>
    </div>*@