<!DOCTYPE html>
<html ng-app="Eduegate.ERP.School.Portal">
<head>
    @{
        var clientName = new Eduegate.Domain.FrameworkSettingBL(null).GetSettingValue<string>("CLIENTINSTANCE");
    }
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>EduGate Parent Portal</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="~/favicon.ico">
    <!-- Place favicon.ico in the root directory -->

    @* @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")

    @Scripts.Render("~/bundles/appmodels")
    @Scripts.Render("~/bundles/plugins")
    @Scripts.Render("~/bundles/others")
    @Scripts.Render("~/bundles/jslinq")
    @Scripts.Render("~/bundles/highchart") *@
    <script src="~/Scripts/ng-map.min.js" type="text/javascript"></script>

    <link href="@Url.Content("~/Content/animate.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="@Url.Content("~/Scripts/wow.min.js")"></script>

    <script src="@Url.Content("~/Scripts/Chart.js")"></script>
    <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")"></script>
    <link rel="stylesheet" href="~/Design_v02/plugins.bundle.css">

    <link href="~/Design_v02/style.bundle.css" rel="stylesheet" type="text/css" />

    <link href="~/Design_v02/css/custom.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
    <!-- icons -->
    <link href="~/Design_v02/fonts/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Design_v02/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Design_v02/fonts/material-design-icons/material-icon.css" rel="stylesheet" type="text/css" />
    <!--bootstrap -->
    <link href="~/Design_v02/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Material Design Lite CSS -->

    <link rel="stylesheet" href="~/Design_v02/plugins/material/material.min.css">
    <link rel="stylesheet" href="~/Content/style.css">

    <!-- Theme Styles -->
    <link href="~/Design_v02/css/theme/light/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Design_v02/css/pages/formlayout.css" rel="stylesheet" type="text/css" />
    <link href="~/Design_v02/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/Design_v02/css/theme/light/theme-color.css" rel="stylesheet" type="text/css" />
    <!-- Date Time item CSS -->
    <link rel="stylesheet" href="~/Design_v02/plugins/flatpicker/css/flatpickr.min.css" />
    <!-- steps -->
    <link rel="stylesheet" href="~/Design_v02/plugins/steps/steps.css">
    <link href="~/Design_v02/css/theme/light/style.css" rel="stylesheet" type="text/css" />

    <link href="~/Design_v02/css/theme/light/theme_style.css" rel="stylesheet" id="rt_style_components" type="text/css" />
    <link href="~/Design_v02/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Design_v02/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/Design_v02/css/theme/light/theme-color.css" rel="stylesheet" type="text/css" />
    <!-- Owl Carousel Assets -->
    <link href="~/Design_v02/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="~/Design_v02/plugins/owl-carousel/owl.theme.css" rel="stylesheet">
    <!-- dropzone -->
    <link href="~/Design_v02/plugins/dropzone/dropzone.css" rel="stylesheet" media="screen">
    <!-- Date Time item CSS -->
    <link rel="stylesheet" href="~/Design_v02/plugins/flatpicker/css/flatpickr.min.css" />
    <!--select2-->
    <link href="~/Design_v02/plugins/select2/css/select2.css" rel="stylesheet" type="text/css" />
    <link href="~/Design_v02/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!--tagsinput-->
    <link href="~/Design_v02/plugins/jquery-tags-input/jquery-tags-input.css" rel="stylesheet">
    <link href="~/Design_v02/plugins/angular-bootstrap-lightbox.min.css" rel="stylesheet">
    <link href="~/Content/nouislider.min.css" rel="stylesheet">
    <link href="~/Content/fancybox.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/fullcalendar.bundle.css">


    <script src="~/Design_v02/scripts.bundle.js"></script>

    <!-- start js include path -->
    <script src="~/Design_v02/plugins/jquery/jquery.min.js"></script>

    <script src="~/Design_v02/plugins/popper/popper.js"></script>
    <script src="~/Design_v02/plugins/jquery-blockui/jquery.blockui.min.js"></script>
    <script src="~/Design_v02/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- bootstrap -->
    <script src="~/Design_v02/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Design_v02/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <!-- Common js-->
    <script src="~/Design_v02/js/app.js"></script>
    <script src="~/Design_v02/js/layout.js"></script>
    <script src="~/Design_v02/js/theme-color.js"></script>
    <!-- Material -->
    <script src="~/Design_v02/plugins/material/material.min.js"></script>
    <script src="~/Design_v02/js/pages/material-select/getmdl-select.js"></script>
    <script src="~/Design_v02/plugins/flatpicker/js/flatpicker.min.js"></script>
    <script src="~/Design_v02/js/pages/date-time/date-time.init.js"></script>
    <script src="~/Design_v02/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js" charset="UTF-8"></script>
    <script src="~/Design_v02/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker-init.js" charset="UTF-8"></script>
    <script src="~/Design_v02/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script src="~/Design_v02/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker-init.js" charset="UTF-8"></script>
    <script src="~/Design_v02/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>
    <!-- dropzone -->
    <script src="~/Design_v02/plugins/dropzone/dropzone.js"></script>
    <script src="~/Design_v02/plugins/dropzone/dropzone-call.js"></script>
    <!-- Theme Styles -->
    <!-- owl carousel -->
    <script src="~/Design_v02/plugins/owl-carousel/owl.carousel.js"></script>
    <script src="~/Design_v02/js/pages/owl-carousel/owl_data.js"></script>

    <script src="~/Design_v02/plugins/material/material.min.js"></script>
    <script src="~/Design_v02/plugins/sparkline/jquery.sparkline.js"></script>
    <script src="~/Design_v02/js/pages/sparkline/sparkline-data.js"></script>
    <!-- summernote -->
    <script src="~/Design_v02/plugins/summernote/summernote.js"></script>
    <script src="~/Design_v02/js/pages/summernote/summernote-data.js"></script>
    <!-- favicon -->
    <link rel="shortcut icon" href="~/favicon.ico" />

    <!-- data tables -->
    <script src="~/Design_v02/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Design_v02/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js"></script>
    <script src="~/Design_v02/js/pages/table/table_data.js"></script>
    <!-- end js include path -->
    <!-- start js include path -->
    <script src="~/Design_v02/plugins/jquery-validation/js/jquery.validate.min.js"></script>
    <script src="~/Design_v02/plugins/jquery-validation/js/additional-methods.min.js"></script>
    <!-- Common js-->
    <script src="~/Design_v02/js/pages/validation/form-validation.js"></script>


    <!-- chart js -->

    <script src="~/Design_v02/plugins/apexcharts/apexcharts.min.js"></script>
    <script src="~/Design_v02/js/pages/chart/apex/home-data3.js"></script>
    <script src="~/Design_v02/plugins/sparkline/jquery.sparkline.js"></script>
    <script src="~/Design_v02/js/pages/sparkline/sparkline-data.js"></script>
    <script src="~/Design_v02/plugins/chart-js/Chart.min.js"></script>
    <script src="~/Design_v02/plugins/chart-js/utils.js"></script>
    <script src="~/Design_v02/js/pages/chart/chartjs/home-data2.js"></script>

    <!--amchart chart-->
    <script src="~/Design_v02/plugins/amcharts4/core.js"></script>
    <script src="~/Design_v02/plugins/amcharts4/charts.js"></script>
    <script src="~/Design_v02/plugins/amcharts4/animated.js"></script>
    <script src="~/Design_v02/plugins/amcharts4/worldLow.js"></script>
    <script src="~/Design_v02/plugins/amcharts4/maps.js"></script>
    <!-- Page Specific JS File -->
    <!-- steps -->
    <script src="~/Design_v02/plugins/steps/jquery.steps.js"></script>
    <script src="~/Design_v02/js/pages/steps/steps-data.js"></script>

    <script src="~/Scripts/moment.min.js"></script>

    <!--select2-->
    <script src="~/Design_v02/plugins/select2/js/select2.js"></script>
    <script src="~/Design_v02/js/pages/select2/select2-init.js"></script>
    <!--tags input-->
    <script src="~/Design_v02/plugins/jquery-tags-input/jquery-tags-input.js"></script>
    <script src="~/Design_v02/plugins/jquery-tags-input/jquery-tags-input-init.js"></script>
    <script src="~/Scripts/jquery-tjgallery.min.js" type="text/javascript"></script>
    <script src="~/Scripts/slick.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/nouislider.min.js"></script>

    <script src="~/Design_v02/fslightbox.js"></script>
    <script src="~/Scripts/fancybox.umd.js"></script>
    <script src="~/Design_v02/fullcalendar.bundle.js"></script>


    <!-- MDB -->
    <!-- end js include path -->
    <style>
        #owl-demo .item img {
            display: block;
            width: 100%;
            height: auto;
        }

        #owl-demo2 .item {
            margin: 3px;
        }

        .page-bar {
            margin: 0px !important;
        }
    </style>
</head>
<body class="">
    @{
        // var request = HttpContext.Current.Request.ApplicationPath;
        var request = "/";
    }

    <div class="wrapper flex-wrapper" ng-controller="LayoutController">

        <div ng-controller="LayoutHeaderController">
            <!-- start header -->
            <section class="">
                <div class="container-custom container-xxl">
                    <div class="top-nav">
                        <div class="row justify-content-between">
                            <div class="top-nav-right w-auto">
                                <ul class="list-inline top-nav-right-list">
                                    <li>
                                        <a class="position-relative">
                                            <img src="../img/PODARLOGO-01.png" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end header -->
        </div>
        <hr>

        @RenderBody()

        <div class="footer py-4 d-flex flex-lg-column center" id="kt_footer">
            <!--begin::Container-->
            <div class="container-custom container-xxl d-flex flex-md-row align-items-center justify-content-between">
                <!--begin::Copyright-->
                <div class="text-dark order-2 order-md-1 px-2">
                    <span class="text-muted fw-semibold me-1">2022©</span>
                    <a target="_blank" class="text-gray-800 text-hover-primary">Podar Pearl School</a>
                </div>
                <!--end::Copyright-->
            </div>
            <!--end::Container-->
        </div>

        <link href="~/Content/Design_v02_Overite.css" rel="stylesheet" />

        <link rel="stylesheet" href="~/ToasterPlugin/simple-notify.min.css" />

        <script src="~/ToasterPlugin/simple-notify.min.js"></script>
        <script>

            function callToasterPlugin(status, title) {
                new Notify({
                    status: status,
                    title: title,
                    effect: 'fade',
                    speed: 300,
                    customClass: null,
                    customIcon: null,
                    showIcon: true,
                    showCloseButton: true,
                    autoclose: true,
                    autotimeout: 3000,
                    gap: 20,
                    distance: 20,
                    type: 1,
                    position: 'center'
                })
            }

        </script>
    </div>
</body>
</html>