@using Eduegate.Globalization;
@model Eduegate.Web.Library.ViewModels.PasswordResetViewModel
@{
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}


@{
    ViewBag.Title = "Reset Password";
    Random rnd = new Random();
    var windowName = "window_" + rnd.Next().ToString();
}

@Html.AntiForgeryToken()
<div id="@windowName" class="fullwidth alignleft singlepagelogin">

    <div class="window-tab preload-overlay" style="display:none;">
        <div class="preloader"><img src="~/Images/preloader.gif" width="32" height="32" alt="Loading" /></div>
    </div>


    @if (!Request.IsAjaxRequest())
    {
        @Html.Raw("<div class=\"signinsingle\">")
        @Html.Raw("<div class=\"wrapper whitebg\">")
    }
    <div class="login-register-wrap login whitebg" ng-controller="ResetController" ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model), '@windowName')">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "ResetPasswordForm" }))
        { 
			<div id="LoginOverlay" class="preload-overlay">
				<span id="LoginButtonLoader" class="preloadImg"><img src="~/Images/preloader.gif" alt="loader" /></span>
			</div>
            <div class="tabtitle alignleft fullwidth page_subtitles">
                <h4>Change Password</h4>
            </div>
            <div class="login-reg fullwidth alignleft">
                <br />
                @*<div ng-show="MessageType =='Success'" ng-class="{'field-validation-success': MessageType=='Success'}">
                        <span class="textcenter topmsg" ng-show="ShowMessage" ng-bind="Message"></span>
                    </div>*@
                <ul class="noSwipe">
                    <li>
                        <span ng-class="{'field-validation-error': MessageType=='Error','field-validation-success': MessageType=='Success','field-validation-info': MessageType=='Info'}"
                              class="textleft topmsg" ng-show="ShowMessage" ng-bind="Message"></span>
                    </li>
                    <li>
                        <label>New Password <sup style="color:red">*</sup></label>
                        @Html.PasswordFor(model => model.Password, new { @class = "required", @ng_model = "PasswordResetModel.Password", @placeholder = Resources.NewPassword })
                        @Html.ValidationMessageFor(model => model.Password)
                    </li>
                    <li>
                        <label>Confirm Password <sup style="color:red">*</sup></label>
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "required", @ng_model = "PasswordResetModel.ConfirmPassword", @placeholder = Resources.ConfirmPassword })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </li>
                </ul>
                <span class="buttoncontrols alignleft fullwidth submission">
                    <span class="button-orange alignright disableanchor"><a href="" ng-click="ResetPasswordSubmit()" class="btnorange">Change Password</a></span>
                </span>

            </div>
        }
    </div>

    @if (!Request.IsAjaxRequest())
    {
        @Html.Raw("</div>")
        @Html.Raw("</div>")
    }

</div>
