@model Eduegate.Web.Library.School.Students.StudentLeaveApplicationViewModel

@{
    ViewBag.Title = "StudentLeaveApplication";
}
<div class="pageContentInner setVerticalScroll">
    <div class="flex-column-fluid">
        <div class="row g-5 g-lg-8 mb-5 mb-xl-0">
            <div class="col-xl-4 mb-xl-8">
            </div>
            <div class="col-xl-4 mb-xl-8">
                <!--begin::Statistics Widget 1-->
                <div class="card h-xl-100">
                    <!--begin::Header-->
                    <div class="card-header align-items-center border-0 mt-4">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="fw-bold mb-2 text-dark">Apply Leave</span>
                            <span class="text-muted fw-semibold fs-7">Leave application form</span>
                        </h3>

                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body pt-5">
                        <form method="post" id="leaveApplication" class="form-horizontal" ng-submit="SubmitLeaveApplication()">
                            @Html.TextBoxFor(a => a.StudentLeaveApplicationIID, new { data_ng_model = "LeaveApplication.StudentLeaveApplicationIID", style = "display: none;" })
                            @Html.HiddenFor(a => a.ClassID, new { data_ng_model = "LeaveApplication.ClassID", style = "display: none;" })
                            @Html.HiddenFor(a => a.StudentID, new { data_ng_model = "LeaveApplication.StudentID", style = "display: none;" })
                            @Html.HiddenFor(a => a.FromSessionID, new { data_ng_model = "LeaveApplication.FromSessionID", style = "display: none;" })
                            @Html.HiddenFor(a => a.ToSessionID, new { data_ng_model = "LeaveApplication.ToSessionID", style = "display: none;" })
                            @Html.TextBoxFor(a => a.LeaveStatusID, new { data_ng_model = "LeaveApplication.LeaveStatusID", style = "display: none;" })
                            @Html.TextBoxFor(a => a.CreatedBy, new { data_ng_model = "LeaveApplication.CreatedBy", style = "display: none;" })
                            @Html.TextBoxFor(a => a.CreatedDateString, new { data_ng_model = "LeaveApplication.CreatedDateString", style = "display: none;" })

                            <div class="form-body">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">
                                        Reason
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-12">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            @Html.TextBoxFor(m => m.Reason, new { @class = "form-control", @required = "", @aria_required = "true", @autocomplete = "off", @placeholder = "Reason", data_ng_model = "LeaveApplication.Reason" })
                                            @Html.ValidationMessageFor(m => m.Reason)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-12">
                                        From Date
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-12">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            @* <input type="date" placeholder="From Date" required="" id="FromDateString" name="FromDateString" class="form-control" value={{LeaveApplication.FromDateString}} ng-model="LeaveApplication.FromDateString" /> *@
                                            @Html.TextBoxFor(m => m.FromDateString, new { @class = "form-control date", @required = "", @aria_required = "true", @autocomplete = "off", @placeholder = "From date", data_ng_model = "LeaveApplication.FromDateString" })
                                            @Html.ValidationMessageFor(m => m.FromDateString)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-12">
                                        To Date
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-12">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            @* <input type="date" placeholder="To Date" required="" id="ToDateString" name="ToDateString" class="form-control" value={{LeaveApplication.ToDateString}} ng-model="LeaveApplication.ToDateString" /> *@
                                            @Html.TextBoxFor(m => m.ToDateString, new { @class = "form-control date", @required = "", @aria_required = "true", @autocomplete = "off", @placeholder = "To date", data_ng_model = "LeaveApplication.ToDateString" })
                                            @Html.ValidationMessageFor(m => m.ToDateString)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button type="submit" id="SubmitLeaveBtn" name="action" class="btn btn-danger btn-dark col-md-12">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!--end: Card Body-->
                </div>
                <!--end::Statistics Widget 1-->
            </div>
            <div class="col-xl-4 mb-xl-8">
            </div>
        </div>
    </div>
</div>
<style>
    .noMarginBtm .modal {
        height: fit-content;
    }
</style>
<script>
    //$(document).ready(function () {
    //    $('select').formSelect();
    //    $('.datepicker').datepicker();
    //    $("select[required]").css({
    //        display: "inline",
    //        height: 0,
    //        padding: 0,
    //        width: 0
    //    });
    //});
</script>
