@model Eduegate.Web.Library.ViewModels.SearchListViewModel
@{
    Layout = null;
    var viewIID = Eduegate.Services.Contracts.Enums.SearchView.ClaimSet;
}

<div id="ClaimSetLists" class="windowcontainer">
    <div ng-controller="ViewController" ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model), '@viewIID');InitializeWayPoint();">
        @*<div class="pagenav"><a class="pagenav-leftmargin">Dashboard </a><a class="pagenav-leftmargin">  </a> /<span> Lists</span></div>*@
        <div class="pageheadername"><div>View @Eduegate.Globalization.ResourceHelper.GetValue("CLAIM_TITLE") Sets</div><div class="alignright menugroup"><div class="createprodlink button-orange alignright" ng-click="Create('@viewIID', $event, 'Create @Eduegate.Globalization.ResourceHelper.GetValue("CLAIM_TITLE")')"><a title="Create @Eduegate.Globalization.ResourceHelper.GetValue("CLAIM_TITLE") Sets"><i class="fa fa-plus"></i><span>Create @Eduegate.Globalization.ResourceHelper.GetValue("CLAIM_TITLE") Sets</span></a></div></div></div>

        @Html.Partial("_SummaryHeader", Model)
        @Html.Partial("_List", Model)
    </div>
</div>