<!DOCTYPE html>
<html lang="en" ng-app="Eduegate.OnlineExam.Portal">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eduegate.OnlineExam</title>
    @*<link rel="stylesheet" href="~/Content/bootstrap.min.css" />*@

    <link href="~/Content/dashboard/dashboard.css" rel="stylesheet" />
    <link href="~/Content/dashboard/docs.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/dashboard/style.bundle.css" rel="stylesheet" />
    <link href="~/Content/plugins.bundle.css" rel="stylesheet" />
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />


</head>
<body>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    @RenderBody()

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/appmodels")

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/site.js" asp-append-version="true"></script>
    <script src="~/Content/dashboard/dashboard.js"></script>
    <script src="~/Content/plugins.bundle.js"></script>
    
    @RenderSection("Scripts", required: false)


    <link rel="stylesheet" href="~/ToasterPlugin/simple-notify.min.css" />
    <script src="~/ToasterPlugin/simple-notify.min.js"></script>
    <script>
        utility.myHost = "@string.Format("{0}://{1}{2}/", Request.Url.Scheme, Request.Url.Authority, HttpRuntime.AppDomainAppVirtualPath)";

        function callToasterPlugin(status, title) {
            new Notify({
                status: status,
                title: title,
                effect: 'fade',
                speed: 300,
                customClass: null,
                customIcon: null,
                showIcon: true,
                showCloseButton: true,
                autoclose: true,
                autotimeout: 3000,
                gap: 20,
                distance: 20,
                type: 1,
                position: 'center'
            })
        }
    </script>

</body>
</html>
